@use "../../../../../public/css/parametrs/parameters";

.order {
  max-width: parameters.$max-width-px-long;
  margin: parameters.$big-margin auto;

  &__title {
    font-size: parameters.$big-font-size;
    font-weight: parameters.$middle-font-weight;
    margin-bottom: parameters.$big-margin-bottom;
  }

  &__summary {
    flex-direction: column; // Элементы всегда располагаются вертикально
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: parameters.$big-margin;
  }

  &__info,
  &__total {
    width: 100%; // Полная ширина
    margin-bottom: 10px;
  }

  &__info {
    background-color: #ffffff;
    border: parameters.$one-border solid parameters.$card-border-color;
    border-radius: parameters.$container-border-radius;
    box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
    padding: calc(#{parameters.$padding} + 2px);

    &__status {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__paid-status {
      font-size: parameters.$font-size;
    }

    &__recipient {
      padding-top: 40px;

      &-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 11px;
      }
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    background-color: parameters.$card-background-color;
    border: parameters.$one-border solid parameters.$card-border-color;
    border-radius: parameters.$container-border-radius;
    box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
    padding: parameters.$padding;

    &-header {
      display: flex;
      justify-content: space-between;
      font-size: calc(#{parameters.$small-font-size} + 3px);
      border-bottom: parameters.$one-border solid parameters.$card-border-color;
      padding-bottom: calc(#{parameters.$one-padding} + 3px);
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
    }

    &-amount {
      margin-top: auto;
      margin-bottom: auto;
      font-weight: parameters.$middle-font-weight;
    }
  }

  &__details {
    width: 100%;
    background-color: parameters.$card-background-color;
    border: parameters.$one-border solid parameters.$card-border-color;
    border-radius: parameters.$container-border-radius;
    box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
    padding: parameters.$padding;
    margin-bottom: parameters.$big-margin-bottom;

    &-title {
      font-size: parameters.$default-font-size;
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: calc(#{parameters.$padding} + 5px);

      &-image {
        width: 75px;
        height: 75px;
        border-radius: 25%;
        object-fit: fill;
        margin-right: parameters.$big-margin;
        box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 75px;
      }

      &-name,
      &-quantity {
        font-size: calc(#{parameters.$small-font-size} + 2px);
      }

      &-price {
        font-weight: parameters.$middle-font-weight;
      }
    }
  }
}

@media (max-width: 1024px) {
  .order {
    &__summary {
      flex-direction: column; // Элементы всегда вертикально
    }

    &__info,
    &__total {
      width: 100%;
      margin-top: 20px;
    }
  }

  .order__details {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .order {
    &__title {
      font-size: calc(#{parameters.$big-font-size} - 4px);
      padding: 0 18px;
    }

    &__summary {
      flex-direction: column;
    }

    &__details__item {
      flex-direction: row;
      align-items: center;
    }

    &__details__item-image {
      width: 60px;
      height: 60px;
      margin-right: 8px;
    }

    &__details__item-name {
      font-size: calc(#{parameters.$small-font-size} + 1px);
    }
  }
}

@media (orientation: landscape) {
  .order {
    &__summary {
      flex-direction: column; // Даже в ландшафтной ориентации элементы вертикально
    }
  }
}
