@use "../../../../../public/css/parametrs/parameters";

.order {
  max-width: parameters.$max-width-px-long;
  margin: parameters.$big-margin auto;

  &__title {
    font-size: parameters.$big-font-size;
    font-weight: parameters.$middle-font-weight;
    margin-bottom: parameters.$big-margin-bottom;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: parameters.$big-margin;
  }

  &__info {
    background-color: #ffffff;
    border: parameters.$one-border solid parameters.$card-border-color;
    border-radius: parameters.$container-border-radius;
    box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
    padding: calc(var(parameters.$padding) + 2px);
    width: 600px;
    height: 150px;

    &__status {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__paid-status {
      font-size: parameters.$font-size;
    }

    &__recipient {
      padding-top: 40px;

      &-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 11px;
      }
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    background-color: parameters.$card-background-color;
    border: parameters.$one-border solid parameters.$card-border-color;
    border-radius: parameters.$container-border-radius;
    box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
    padding: parameters.$padding;
    width: 500px;
    height: 100px;

    &-header {
      display: flex;
      justify-content: space-between;
      font-size: calc(var(parameters.$small-font-size) + 3px);
      border-bottom: parameters.$one-border solid parameters.$card-border-color;
      padding-bottom: calc(var(parameters.$one-padding) + 3px);
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
    }

    &-amount {
      margin-top: auto;
      margin-bottom: auto;
      font-weight: parameters.$middle-font-weight;
    }
  }

  &__details {
    width: 600px;
    background-color: parameters.$card-background-color;
    border: parameters.$one-border solid parameters.$card-border-color;
    border-radius: parameters.$container-border-radius;
    box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
    padding: parameters.$padding;

    &-title {
      font-size: parameters.$default-font-size;
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: calc(var(parameters.$padding) + 5px);

      &-image {
        width: 75px;
        height: 75px;
        border-radius: 25%;
        object-fit: fill;
        margin-right: parameters.$big-margin;
        box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 75px;
      }

      &-name,
      &-quantity {
        font-size: calc(var(parameters.$small-font-size) + 2px);
      }

      &-price {
        font-weight: parameters.$middle-font-weight;
      }
    }
  }
}
