<div class="search-container">
    <input type="search" placeholder="Поиск по oxic" class="search-input">
    <button class="search-button"  href="/soon" router="changed-active"><span class="material-icons" >search</span></button>
</div>