@use "../../../../../../../public/css/parametrs/parameters";
@use "../../../../../../../public/css/parametrs/basic-mixins";
@use "../../../../../../../public/css/parametrs/animations";

// Блок для карточки (корневая обертка)
.right-element-card {
  background-color: parameters.$card-background-color;
  border-radius: parameters.$card-border-radius;
  box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
  padding: parameters.$card-padding;
  width: parameters.$width-max;
  margin-bottom: parameters.$main-gap;

  &__total-items {
    font-size: parameters.$total-items-font-size;
    color: parameters.$default-text-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: parameters.$total-item-margin-bottom;
  }

  &__divider {
    border: none;
    border-top: 1px solid parameters.$divider-color;
    margin: parameters.$divider-margin;
  }

  &__benefit {
    font-size: parameters.$benefit-font-size;
    color: parameters.$default-text-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: parameters.$benefit-margin-bottom;
  }

  &__grand-total {
    font-size: parameters.$grand-total-items-font-size;
    font-weight: parameters.$grand-total-font-weight;
    display: flex;
    justify-content: space-between;
    margin-top: parameters.$mini-gap;
    color: parameters.$default-text-color;
  }

  &__promo-input {
    background-color: parameters.$header-background;
    border: none;
    border-radius: parameters.$card-border-radius;
    color: parameters.$text-color;
    padding: parameters.$chrckout-padding;
    width: 78%;
    height: parameters.$right-order-height;
    font-size: parameters.$input-font-size;
    padding-left: parameters.$padding15;

    &::placeholder {
      color: parameters.$delete-color;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    @media (min-width: 1350px) {
      width: 100%;
    }
  }

  &__payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: parameters.$path-width; /* Половина строки */
    border: 2px solid #EEEEEE; /* Стандартная обводка */
    border-radius: parameters.$card-border-radius;
    padding: parameters.$padding15;
    cursor: pointer;
    transition: border-color parameters.$short-duration ease-in-out; /* Плавное изменение обводки */

    &:hover {
      border-color: parameters.$select-color; /* Более темная обводка при наведении */
    }

    &--selected {
      border-color: parameters.$base-background-color; /* Цвет обводки для выбранного метода */

      &:hover {
        border-color: parameters.$base-background-color;
      }
    }
  }

  &__payment-method-icon {
    font-size: parameters.$font-size-payment-method;
    color: parameters.$text-color;
  }

  &__payment-method-text {
    margin-top: parameters.$mini-gap;
    color: parameters.$text-color;
    font-size: parameters.$font-size_label;
  }

  /* Контейнер для размещения двух иконок на одной строке */
  &__payment-methods {
    display: flex;
    justify-content: space-between;
    gap: parameters.$main-gap; /* Разделение между иконками */
    align-items: center; /* Иконки на одной высоте */
  }

  &__payment-title {
    font-weight: normal;
    margin-bottom: parameters.$mini-gap;
  }

  &__promo-container {
    display: flex;
    align-items: center;
    gap: parameters.$main-gap;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: stretch;
    }

    @media (min-width: 1350px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__apply-promo-btn {
    @include basic-mixins.checkout-btn;
    flex-shrink: 0;
    width: 20%;
    height: 40px;
    padding: 0;

    @media (max-width: 600px) {
      width: 100%;
      margin-top: parameters.$mini-gap;
    }

    @media (min-width: 1350px) {
      width: 100%;
      margin-top: parameters.$mini-gap;
    }
  }

  &__promo {
    justify-content: space-around;
    display: flex;

    @media (max-width: 600px) {
      display: contents;
    }

    @media (min-width: 1350px) {
      display: contents;
    }
  }

  &__promo-error {
    display: none;
    color: parameters.$error-color;
    font-size: parameters.$error-font-size;
    margin-top: parameters.$mini-gap;
    animation: fade-in 0.3s ease-in-out;

    &.visible {
      display: block;
    }
  }
}

// Блок для кнопки
.checkout-btn {
  background-color: parameters.$base-background-color;
  color: parameters.$text-inv;
  border: none;
  font-size: parameters.$button-font-size;
  cursor: pointer;
  border-radius: parameters.$card-border-radius;
  padding: parameters.$chrckout-padding;
  width: parameters.$width-max;
  height: parameters.$right-order-height;

  &:hover {
    background-color: parameters.$darker-background-color; // Более темный фон при наведении
    color: parameters.$text-inv;
  }

  &:active {
    background-color: parameters.$darkest-background-color; // Самый темный фон при нажатии
    color: parameters.$text-inv;
  }

  &.disabled {
    background-color: parameters.$disabled-background-color; // Серый фон для заблокированной кнопки
    color: parameters.$disabled-color;            // Серый цвет текста
    cursor: not-allowed;    // Иконка неактивности

    &:hover {
      background-color: parameters.$disabled-background-color; // Оставляем тот же цвет при наведении
      color: parameters.$disabled-color;
    }
  }
}

#original-price {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  white-space: nowrap; /* Чтобы текст не переносился */
}

.right-element-card__promo-title {
  margin-bottom: 10px;
  font-size: 16px;
}
