@use "../../../../../../../public/css/parametrs/parameters";

.right-element-card {
  background-color: parameters.$card-background-color;
  border-radius: parameters.$card-border-radius;
  box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
  padding: parameters.$card-padding;
  width: parameters.$width-max;
  margin-bottom: parameters.$main-gap;

  &__total-items {
    font-size: parameters.$total-items-font-size;
    color: parameters.$default-text-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: parameters.$total-item-margin-bottom;
  }

  &__divider {
    border: none;
    border-top: 1px solid parameters.$divider-color;
    margin: parameters.$divider-margin;
  }

  &__benefit {
    font-size: parameters.$benefit-font-size;
    color: parameters.$default-text-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: parameters.$benefit-margin-bottom;
  }

  &__grand-total {
    font-size: parameters.$grand-total-items-font-size;
    font-weight: parameters.$grand-total-font-weight;
    display: flex;
    justify-content: space-between;
    margin-top: parameters.$mini-gap;
    color: parameters.$default-text-color;
  }

  &__promo-input {
    background-color: parameters.$header-background;
    border: none;
    border-radius: parameters.$card-border-radius;
    color: parameters.$text-color;
    padding: parameters.$chrckout-padding;
    width: parameters.$width-max;
    height: parameters.$right-order-height;
    font-size: parameters.$input-font-size;
    padding-left: parameters.$padding15;

    &::placeholder {
      color: parameters.$delete-color;
    }
  }

  &__payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: parameters.$path-width;
    border: 2px solid #EEEEEE;
    border-radius: parameters.$card-border-radius;
    padding: parameters.$padding15;
    cursor: pointer;
    transition: border-color parameters.$short-duration ease-in-out;

    &:hover {
      border-color: parameters.$select-color;
    }

    &--selected {
      border-color: parameters.$base-background-color;

      &:hover {
        border-color: parameters.$base-background-color;
      }
    }
  }

  &__payment-method {
    &-icon {
      font-size: parameters.$font-size-payment-method;
      color: parameters.$text-color;
    }

    &-text {
      margin-top: parameters.$mini-gap;
      color: parameters.$text-color;
      font-size: parameters.$font-size_label;
    }

    &s {
      display: flex;
      justify-content: space-between;
      gap: parameters.$main-gap;
      align-items: center;
    }
  }
}

// Блок для кнопки
.checkout-btn {
  background-color: parameters.$base-background-color;
  color: parameters.$text-inv;
  border: none;
  font-size: parameters.$button-font-size;
  cursor: pointer;
  border-radius: parameters.$card-border-radius;
  padding: parameters.$chrckout-padding;
  width: parameters.$width-max;
  height: parameters.$right-order-height;

  &:hover {
    background-color: parameters.$darker-background-color;
    color: parameters.$text-inv;
  }

  &:active {
    background-color: parameters.$darkest-background-color;
    color: parameters.$text-inv;
  }

  &.disabled {
    background-color: parameters.$disabled-background-color;
    color: parameters.$disabled-color;
    cursor: not-allowed;

    &:hover {
      background-color: parameters.$disabled-background-color;
      color: parameters.$disabled-color;
    }
  }
}