<link rel="stylesheet" href="/src/scripts/components/modal/modal.css">

<div id="{{id}}" class="modal__main">
    <div class="modal__container">
        <span class="btn__close" data-action="close">&times;</span>

    </div>
</div>