@import '/public/css/parametrs/parameters.css';

.modal__main {
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
    display: none;
    top: 20%;
    left: var(--left-center);
    z-index: var(--card-z-index_on);
    inset: 0;
    background-color: var(--background-color-modal);
    padding: var(--big-padding);
    overflow-y: auto;
}

.btn__close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: var(--mega-font-size);
    color: var(--text-color);
}

.modal__container {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: var(--container-border-radius);
    padding: var(--m-group-padding);
}
