@use "../delivery-dates-list/delivery-dates-list.scss";
@use "../../../../../../../public/css/parametrs/parameters";

.recipient-card {
  background-color: parameters.$card-background-color;
  border-radius: parameters.$card-border-radius;
  box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
  padding: parameters.$card-padding;
  width: parameters.$width-max;
  margin-bottom: parameters.$main-gap;

  &__title {
    font-size: parameters.$card-title-font-size;
    color: parameters.$default-text-color;
  }

  &__divider {
    border: none;
    border-top: 1px solid parameters.$divider-color;
    margin: parameters.$divider-margin;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: parameters.$total-item-margin-bottom;
  }

  &__label {
    color: parameters.$default-text-color;
    font-size: parameters.$font-size_label;
  }

  &__details {
    display: flex;
    align-items: center;
  }

  &__address, &__name {
    font-size: parameters.$input-font-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__name {
    margin-right: 17%;
  }

  &__edit-icon {
    cursor: pointer;
    margin-left: parameters.$main-gap;
  }
}
