<div class="cart-header">
    <div class="left-part">
        <div class="item-checkbox"><input type="checkbox" id="select-all"></div>
        <label for="select-all">Выбрано (<span id="selected-count">{{selectedCount}}</span>)</label>
    </div>
    <a href="#" class="delete-selected">
        <span class="icon">&#x2715;</span> Удалить выбранное
    </a>
</div>
