.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 25px;

  .dropdown-trigger {
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    color: #7916d4;
    font-weight: 600;
    cursor: pointer;
    min-width: 160px; // Минимальная ширина кнопки
    text-align: center; // Центровка текста
    transition: background-color 0.4s, color 0.4s;


    &:hover {
      background-color: #7916d4;
      color: white;
    }
  }

  .dropdown-list {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    min-width: 100%; // Ширина совпадает с кнопкой
    border: 1px solid #7916d4;
    z-index: 100;
    list-style: none;
    font-weight: 600;
    padding: 0;
    margin: 3px 0 0 0;
    transition: background-color 0.4s; // Плавный переход для изменений цвета

    &:hover {
      background-color: #f9f9ff; // Лёгкий оттенок при наведении
    }

    &.show {
      display: block;
    }
  }

  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    &:hover {
      background-color: #f1f1f1; // Более яркий фон при наведении
      color: #7916d4; // Цвет текста меняется при наведении
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;

  .cards-view-title {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .sort-container {
    margin-left: auto;
  }
}
