.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 25px;

  .dropdown-trigger {
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    border: 1px solid #7916d4;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    min-width: 160px; // Минимальная ширина кнопки
    text-align: center; // Центровка текста
  }

  .dropdown-list {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    min-width: 100%; // Ширина совпадает с кнопкой
    border: 1px solid #7916d4;
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 3px 0 0 0 ;

    &.show {
      display: block;
    }
  }

  .dropdown-item {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;

  .cards-view-title {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .sort-container {
    margin-left: auto;
  }
}
