@use "../../../../../public/css/parametrs/parameters";

.order-list {
  max-width: 1081px;
  margin: auto;

  &__title {
    font-size: parameters.$big-font-size;
    text-align: left;
    margin-bottom: parameters.$big-margin-bottom;
    margin-top: parameters.$big-margin-bottom;
  }

  &__card {
    background-color: parameters.$card-background-color;
    border: 1px solid parameters.$card-border-color;
    border-radius: parameters.$container-border-radius;
    box-shadow: parameters.$card-box-shadow parameters.$hard-shadow-color;
    padding: parameters.$padding;
    transition: transform parameters.$short-duration ease;
    /* Возможно вынесение в переменную */
    height: 200px;
    margin-bottom: parameters.$big-margin-bottom;

    &:hover {
      transform: scale(parameters.$litle-scale);
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: parameters.$small-margin;
    }

    &__dates {
      display: flex;
      flex-direction: column;

      &-order-date {
        font-size: 22px;
        color: parameters.$text-color;
      }

      &-delivery-date {
        margin-top: parameters.$big-margin;
        font-size: parameters.$font-size-base;
        color: parameters.$text-color;
      }
    }

    &-total {
      font-size: parameters.$default-font-size;
      font-weight: parameters.$litle-font-weight;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  &__review-button {
    padding: parameters.$button-padding;
    font-size: parameters.$font-size_label;
    background-color: parameters.$base-background-color;
    color: parameters.$text-inv;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      background-color: parameters.$darker-background-color;
      transform: scale(parameters.$litle-scale);
    }
  }

  &__items {
    flex-direction: row;
    display: flex;
    margin-left: 380px;

    &-item {
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__details {
    display: flex;
    gap: parameters.$gap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: parameters.$big-margin-bottom;

    &-status {
      font-size: 14px;
      padding-top: 5px;
    }
  }
}

.order-item-image {
  /* Возможно вынесение в переменную */
  width: 60px;
  height: 50px;
  border-radius: 50%;
}
