<div class="cart-header">
    <div class="cart-header__left-part">
        <div class="cart-header__item-checkbox"><input type="checkbox" id="select-all" class="cart-header__select-all"></div>
        <label for="select-all" class="cart-header__label">Выбрано (<span id="selected-count">{{selectedCount}}</span>)</label>
    </div>
    <a href="#" class="cart-header__delete-selected">
        <span class="cart-header__icon">&#x2715;</span> Удалить выбранное
    </a>
</div>
