@use "../../../../../public/css/parametrs/parameters";

.container {
  margin: parameters.$margin-auto;
  justify-content: center;
  display: flex;
  max-width: 1300px;
  flex-direction: column;

  &__cards-view-title {
    display: block;
    margin: 10px 20px 30px;
    padding: 10px 0;
    font-size: 30px;
    font-weight: parameters.$font-weight-bold;
    color: black;
    font-family: parameters.$mega-font-family, sans-serif ;
  }
}

.cards-view-title {

}

.catalog {
  grid-template-columns: repeat(auto-fit, minmax(parameters.$card-width, 1fr));
  gap: parameters.$gap;
  padding: parameters.$padding 0;
  display: grid;

  &__card {
    background-color: parameters.$color-card-background;
    border: 1px solid parameters.$color-border;
    border-radius: parameters.$default-border-radius;
    box-shadow: 0 1px 6px parameters.$color-shadow;
    padding: parameters.$padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: transform parameters.$transition-duration ease, box-shadow parameters.$transition-duration ease;
    position: relative;
    max-width: parameters.$card-width;
    overflow: hidden;
    cursor: pointer;
    background-clip: border-box;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px parameters.$color-shadow-hover;
      z-index: parameters.$z-index-hover;
    }

    &:hover .catalog__card-image img {
      transform: scale(1.1);
    }

    &:hover .catalog__card-title {
      -webkit-line-clamp: 4;
    }

    &__card-image {
      width: 100%;
      height: parameters.$image-height;
      border-radius: parameters.$default-border-radius;
      overflow: hidden;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: parameters.$gap;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform parameters.$transition-duration ease;
      }
    }
  }

  &__card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__price {
      font-size: parameters.$font-size-price;
      font-weight: parameters.$font-weight-bold;
      color: parameters.$color-discount;
      font-family: parameters.$mega-font-family, sans-serif ;
      margin-bottom: parameters.$gap;

      &__old-price {
        font-family: parameters.$mega-font-family, sans-serif ;
        font-size: parameters.$font-size-description;
        color: parameters.$color-old-price;
        text-decoration: line-through;
        margin-right: 8px;
      }

      &__discount {
        font-family: parameters.$mega-font-family, sans-serif ;
        font-size: 16px;
        color: parameters.$color-discount;
        margin-left: 8px;
      }
    }

    &__card-title {
      font-family: parameters.$mega-font-family, sans-serif ;
      font-size: parameters.$font-size-price;
      color: parameters.$color-text;
      margin-bottom: parameters.$gap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Ограничение до 2 строк */
      -webkit-box-orient: vertical;
      transition: -webkit-line-clamp parameters.$transition-duration ease;
    }

    &__buy-button {
      width: 100%;
      display: inline-block;
      padding: 10px 20px;
      background-color: transparent;
      color: parameters.$button-text-color;
      border: 2px solid parameters.$button-text-color;
      border-radius: parameters.$default-border-radius;
      font-size: parameters.$font-size-button;
      font-weight: parameters.$font-weight-bold;
      cursor: pointer;
      transition: background-color parameters.$transition-duration ease, color parameters.$transition-duration ease;
      text-decoration: none;

      &:hover {
        color: parameters.$text-buy-color;
        background-color: parameters.$button-text-color;
      }
    }
  }

  &:focus,
  &:hover {
    transform: none;
  }
}

/* Центрирование и стили для сообщения ожидания */
.center-container {
  text-align: center;
  margin-top: 20%;

  &__spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid parameters.$color-button-background;
    border-radius: parameters.$default-border-radius;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto 20px;
  }

  &__loading-text {
    font-size: parameters.$font-size-description;
    color: parameters.$color-text;
    margin: parameters.$gap 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Медиазапросы для адаптивности */
@media (max-width: parameters.$phone-smallest-header) {
  .catalog {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    width: 100%;
    padding: parameters.$padding 10px;

    &__card {
      max-width: 100%;
      height: auto;
    }

    &__card-image {
      height: 300px;
    }

    &__buy-button {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: parameters.$smallest-phone) {
  .catalog {
    grid-template-columns: 1fr;
    width: 100%;
    padding: parameters.$padding 10px;

    &__card {
      max-width: 100%;
      height: auto;
    }

    &__card-image {
      height: 300px;
    }

    &__buy-button {
      width: 100%;
      text-align: center;
    }
  }
}
