<header>
    <!-- Первая строка -->
    <div class="header-top">
        <span>{{city}}. <a href="/changeSity" router="stability-active">Изменить город</a></span>
    </div>

    <!-- Вторая строка -->
    <div class="header-bottom">
        <div class="logo" id="logo" href="/catalog" router="stability-active">oxic</div>
        <button class="catalog-link catalog-button" title="Каталог" href="/catalog" router="stability-active"><txt class="catalog-simbol">&#8801;</txt><span>Каталог</span></button>
        {{> searcher }}
        <div class="icons">
            <div class="icon" id="avatar-icon">
                <span class="material-icons">account_circle</span>
                {{#if name}}
                    <span class="icon-label-hidden catalog-link" id="name">{{name}}</span>
                    <div class="icon-dropdown" id="avatar">
                        <a href="/account" router="stability-active" class="catalog-link">Личный кабинет</a>
                        <a href="/logout" router="stability-active" class="catalog-link">Выход</a>
                    </div>
                {{else}}
                    <span class="icon-label-hidden catalog-link" id="name">Вход</span>
                    <div class="icon-dropdown" id="avatar">
                        <a href="/login" router="stability-active" class="catalog-link">Вход</a>
                        <a href="/signup" router="stability-active" class="catalog-link">Регистрация</a>
                    </div>
                {{/if}}
            </div>
            <div router="stability-active" class="icon" href="/cart" title="Корзина">
                <span class="material-icons">shopping_cart</span>
                <span class="icon-label catalog-link">Корзина</span>
            </div>
            <div router="stability-active" class="icon" href="/favorite" title="Избранное">
                <span class="material-icons">favorite</span>
                <span class="icon-label catalog-link">Избранное</span>
            </div>
            <div router="stability-active" class="icon" href="/order_list" title="Заказы">
                <span class="material-icons">receipt_long</span>
                <span class="icon-label catalog-link">Заказы</span>
            </div>
        </div>
    </div>
</header>
