@use '../../../../public/css/parametrs/parameters';
@use '../../components/searcher/searcher';

/* Закрепляем хедер */
header {
    position: fixed;
    top: parameters.$zero;
    left: parameters.$zero;
    right: parameters.$zero;
    z-index: parameters.$header-z-index;
    background-color: parameters.$header-background;
    padding-bottom: parameters.$padding15;
    width: parameters.$width-max; /* Чтобы хедер растягивался на всю ширину */
}

/* Плейсхолдер с динамической высотой */
.header-placeholder {
    height: 140px; /* Это значение можно обновить через JS для динамической высоты */
    width: parameters.$width-max;
}

/* Для мобильных устройств или разных экранов можно адаптировать */
@media (max-width: parameters.$phone-header) {
    .header-placeholder {
        height: auto; /* Можно указать другую высоту или оставить авто */
    }
}

.catalog-link{
    font-family: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 710;
}

.header-top {
    padding: parameters.$small-padding;
    text-align: left;
    font-size: parameters.$font-size_label;
    background-color: inherit;
    margin-left: calc(#{parameters.$small-margin} + 2);
    font-weight: bold;
}

.header-top a {
    color: parameters.$text-another-color;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
}

.header-top a:hover {
    text-decoration: underline;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    flex-wrap: nowrap;
    background-color: inherit;
}

@font-face {
    font-family: 'Syncopate-Bold';
    src: url('/public/assets/fonts/Syncopate-Bold.ttf');
}

.logo {
    flex: 0 0 13%;
    color: parameters.$text-another-color;
    font-size: parameters.$mega-font-size;
    max-font-size: parameters.$max-font-size;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-family: 'Syncopate-Bold', sans-serif;
    font-stretch: extra-expanded;
}

.logo-part {
    display: inline-block;
    transition: all parameters.$two-seconds-duration ease;
}

.catalog-button {
    flex: 0 0 6%;
    display: flex;
    align-items: center; /* Выравнивание по центру */
    justify-content: center;
    color: parameters.$text-another-color;
    background-color: parameters.$background-color-catalog-button;
    border: none;
    border-radius: parameters.$button-border-radius;
    font-size: parameters.$big-font-size_another;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: parameters.$big-margin;
    padding: parameters.$micro-padding;
}

.catalog-button span {
    margin-left: parameters.$middle-margin;
    font-size: parameters.$loading-text-font-size;
    line-height: 1; /* Выравнивание текста */
}

.catalog-button:hover {
    color: parameters.$background-color-site-new; /* Более темный оттенок для текста */
    background-color: parameters.$background-color-catalog-button; /* Оставляем прозрачный фон */
}

.icons {
    flex: 0 0 27%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    text-align: center;
    position: relative;
    margin: 0 10px;
}

.icon .material-icons {
    color: oklch(0.49 0.25 299.6);
}

.icon:hover .material-icons {
    color: parameters.$background-color-site-new; /* Затемняем цвет иконки */
}

#name {
    display: block;
    width: 50px; /* Максимальная ширина для имени */
    white-space: nowrap;
    overflow: hidden;
    transition: opacity parameters.$short-duration ease;
    opacity: 1;
    text-align: center;
}

.icon-label, .icon-label-hidden {
    font-size: parameters.$small-font-size;
    display: block;
    margin-top: parameters.$middle-margin;
}

.icon:hover .icon-label {
    visibility: visible;
}

.icon:hover .icon-label-hidden {
    visibility: hidden;
}

.icon:hover #name {
    visibility: hidden;
}

.icon:hover::after {
    content: none;
}

.icon-dropdown {
    display: none;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: parameters.$card-background-color;
    box-shadow: 0 4px 8px parameters.$card-shadow-color;
    border-radius: parameters.$button-border-radius;
    z-index: 1000;
    min-width: 150px;
    padding: parameters.$small-padding;
    opacity: 0;
    transition: opacity parameters.$short-duration ease, transform parameters.$short-duration ease, visibility 0s parameters.$middle-duration; /* Задержка исчезновения */
}

.icon-dropdown.show {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    visibility: visible;
    transition: opacity parameters.$short-duration ease, transform parameters.$short-duration ease;
}

.icon-dropdown::before {
    content: '';
    position: absolute;
    top: parameters.$before-icon-dropdown;
    left: 50%;
    transform: translateX(-50%);
    border-width: parameters.$icon-dropdown-border-width;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.icon-dropdown a {
    display: block;
    padding: parameters.$icon-dropdown-padding;
    color: parameters.$button-text-color;
    text-decoration: none;
    font-size: parameters.$font-size_label;
    font-weight: normal;
}

.icon-dropdown a:hover {
    background-color: parameters.$button-text-color;
    color: parameters.$text-buy-color;
    border-radius: parameters.$icon-dropdown-border-radius;
}

.icon:hover .icon-dropdown {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.icon-dropdown {
    transform: translateX(-50%) translateY(parameters.$y-coord-mid);
}

/* Скрываем label, когда окно открыто */
.icon.show .icon-label-hidden {
    visibility: hidden;
}

/* Скрываем элемент с id="name", когда меню открыто */
#avatar-icon.show #name {
    visibility: hidden;
}

/* Добавляем анимацию показа полного имени */
#name:hover::after {
    content: attr(data-fullname); /* Используем атрибут для полного имени */
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    background-color: parameters.$button-text-color;
    color: parameters.$name-buy-color;
    padding: parameters.$name-padding;
    border-radius: parameters.$button-border-radius;
    font-size: parameters.$small-font-size;
    opacity: 0;
    visibility: hidden;
    transition: opacity parameters.$short-duration ease, visibility parameters.$short-duration ease;
}

#name:hover::after {
    visibility: visible;
    opacity: 1;
}

[router] {
    cursor: pointer;
}

txt {
    transform: translateY(parameters.$y-coord-min);
}

@media (max-width: 1150px) {
    .catalog-button span {
        display: none;
    }

    .icons {
        flex-wrap: nowrap;
    }

    .icon-label, .icon-label-hidden, #name {
        display: none;
    }
}

@media (max-width: 840px) {
    .header-bottom {
        flex-direction: column;
        align-items: stretch;
    }

    .logo {
        flex: 0 0 auto;
    }

    .catalog-button {
        width: parameters.$proc-full-width;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: parameters.$text-buy-color;
        background-color: parameters.$text-another-color;
        border: none;
        border-radius: parameters.$button-border-radius;
        font-size: parameters.$font-size-catalog-button;
        cursor: pointer;
        transition: background-color parameters.$short-duration ease, color parameters.$short-duration ease;
        margin-right: parameters.$margin-right-catalog-btn;
        padding: parameters.$middle-margin;
    }

    .catalog-button span {
        margin-left: parameters.$middle-margin;
        font-size: parameters.$font-size-span-catalog-button;
    }

    .catalog-button:hover {
        color: parameters.$button-text-color;
        background-color: parameters.$background-color-catalog-button;
    }

    .search-container {
        flex: 0 0 auto;
        margin-top: parameters.$default-margin;
        width: parameters.$proc-full-width;
    }

    .icons {
        flex-direction: row;
        flex: 0 0 auto;
        margin-top: parameters.$default-margin;
        justify-content: space-between;
    }

    .icon-label, .icon-label-hidden, #name {
        display: block;
    }

    .catalog-button span {
        display: block;
    }

    .icon-dropdown {
        left: parameters.$left-coord;
        transform: translateX(0);
    }

    .icon-dropdown::before {
        left: parameters.$left-coord-min;
        transform: translateX(0);
    }

    /* Плейсхолдер с динамической высотой */
    .header-placeholder {
        height: 310px; /* Это значение можно обновить через JS для динамической высоты */
        width: parameters.$width-max;
    }
}
