@use "../../../../../public/css/parametrs/parameters";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: parameters.$card-z-index_on;

    &__main {
        font-family: parameters.$mega-font-family, sans-serif;
        font-weight: parameters.$litle-font-weight;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: parameters.$proc-min-width;
        width: parameters.$min-width;
        max-width: parameters.$proc-max-width;
        height: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: default;
        padding: parameters.$big-padding;
        z-index: 10;
    }

    &__container {
        cursor: default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0; /* Убираем отступы, чтобы избежать лишнего пространства */
        border-radius: parameters.$container-border-radius;
        padding: parameters.$container-padding;
        background-color: parameters.$container-background-color;
    }
}

.btn {
    &__close {
        position: absolute;
        top: 15px;
        right: 50px;
        cursor: pointer;
        font-size: 24px;
        color: parameters.$text-color;
        transition: color parameters.$short-duration ease;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: parameters.$form-gap;

    &__label {
        font-size: parameters.$default-font-size;
        margin-bottom: parameters.$one-px-margin;
        padding-bottom: parameters.$one-padding;
    }

    &__input {
        margin-top: parameters.$one-px-margin;
        padding: parameters.$mini-padding;
        font-size: parameters.$default-font-size;
        border-radius: parameters.$input-border-radius;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px parameters.$card-shadow-color;
        transition: border-color parameters.$short-duration ease, box-shadow parameters.$short-duration ease;

        &:focus {
            outline: none;
        }
    }

    &__submit-button {
        padding: parameters.$mini-padding;
        font-size: parameters.$default-font-size;
        font-weight: bold;
        background-color: parameters.$base-background-color;
        color: parameters.$text-inv;
        border-width: 0;
        border-radius: parameters.$auth-button-border-radius;
        cursor: pointer;
        margin-top: parameters.$middle-margin;
        transition: background-color parameters.$middle-duration ease, color parameters.$middle-duration ease;

        &:hover {
            background-color: parameters.$darker-background-color;
            color: parameters.$text-inv;
            border: 2px solid parameters.$darker-background-color;
            transform: scale(parameters.$big-scale);
        }

        &:active {
            background-color: parameters.$darkest-background-color;
            color: parameters.$text-inv;
            border: 2px solid parameters.$darkest-background-color;
        }
    }

    &__input_invalid {
        border-color: parameters.$error-color;
        background-color: parameters.$error-background-color;
    }

    &__error-feedback {
        color: parameters.$error-color;
        font-size: parameters.$error-font-size;
        margin-top: parameters.$middle-margin;
        display: block;
    }
}

@media (max-width: 768px) {
    .modal {
        &__container {
            padding: 15px;
        }
    }

    .auth-container {
        &__title {
            font-size: 20px;
        }
    }

    .form {
        &__label {
            font-size: 14px;
        }

        &__input {
            padding: 10px;
            font-size: 14px;
        }

        &__submit-button {
            padding: 10px;
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .form {
        &__input {
            padding: 8px;
            font-size: 12px;
        }

        &__submit-button {
            padding: 8px;
            font-size: 12px;
        }
    }
}
