@use '../../../../../public/css/parametrs/basic-mixins';

$voting-frame-bg-color: #f4f4f4;
$voting-frame-border-color: #cccccc;
$voting-frame-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$voting-frame-transition: 0.3s ease-in-out;
$voting-frame-color-primary: #6a0dad;
$voting-frame-color-gray: #8c8c8c;

$voting-slider-gradient: linear-gradient(to right, red, yellow, green);

.voting-frame {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: $voting-frame-bg-color;
  border: 1px solid $voting-frame-border-color;
  box-shadow: $voting-frame-shadow;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 900;
  transition: transform $voting-frame-transition, opacity $voting-frame-transition;
  opacity: 1;

  &__title {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    align-self: flex-start;
    justify-content: space-between;

    &__close {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color $voting-frame-transition;
      color: $voting-frame-color-gray;
      margin-left: 150px;

      &:hover {
        color: black;
      }
    }
  }

  &__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__vote-button {
    @include basic-mixins.button(250px);
  }

  @media (max-width: 600px) {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);

    &--visible {
      transform: translate(-50%, 0);
    }
  }
}

.rating-circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 8px 2px;

  &__labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

    span {
      font-size: 14px;
      color: #666;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    cursor: pointer;

    .rating-circles {
      &__circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.2s ease;

        &:not(.rating-circles__circle--active) {
          background: gray;
        }
      }
    }
  }
}

@for $i from 0 through 9 {
  .rating-circles {
    &__circle-#{$i} {
      background: hsl((120 / 10) * $i, 100%, 50%);
    }
  }
}
