@use "../../../../../../../public/css/parametrs/parameters";

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: parameters.$total-item-margin-bottom;
  gap: parameters.$mini-gap;
  margin-top: parameters.$main-gap;

  &__image {
    width: parameters.$order-image-width;
    height: parameters.$order-image-height;
    border-radius: parameters.$card-border-radius;
    margin-right: parameters.$main-gap;
    object-fit: cover; /* Чтобы изображение заполняло квадрат */
    padding-down: parameters.$order-image-padding-down;
    background: parameters.$header-background center center / cover no-repeat;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем текст по высоте изображения */
    height: parameters.$order-image-height; /* Высота для выравнивания текста с изображением */
  }

  &__name {
    font-size: parameters.$font-size_label;
    margin-top: parameters.$name-margin-top; /* Чуть ниже верха изображения */
  }

  &__price {
    font-size: parameters.$font-size_label;
    margin-bottom: parameters.$name-margin-top; /* Чуть выше низа изображения */
  }
}