.product-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--total-item-margin-bottom);
  gap: var(--mini-gap);
  margin-top: var(--main-gap);

  &__image {
    width: var(--order-image-width);
    height: var(--order-image-height);
    border-radius: var(--card-border-radius);
    margin-right: var(--main-gap);
    object-fit: cover; /* Чтобы изображение заполняло квадрат */
    padding-down: var(--order-image-padding-down);
    background: var(--header-background) center center / cover no-repeat;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем текст по высоте изображения */
    height: var(--order-image-height); /* Высота для выравнивания текста с изображением */
  }

  &__name {
    font-size: var(--font-size_label);
    margin-top: var(--name-margin-top); /* Чуть ниже верха изображения */
  }

  &__price {
    font-size: var(--font-size_label);
    margin-bottom: var(--name-margin-top); /* Чуть выше низа изображения */
  }
}
