<header>
</header>

<div class="header-placeholder"></div>

<div id="{{root}}">
</div>

<div id="modal-render">

</div>

<div id="notice" style="display: none"></div>

<br>
<br>
<div class="tab-bar">
  <div class="tab-icon" href="/" router="stability-active" title="На главную">
    <span class="material-icons">home</span>
    <span class="tab-label">Главная</span>
  </div>
  <div class="tab-icon" href="/category" router="stability-active" title="Каталог">
    <span class="material-icons">menu</span>
    <span class="tab-label">Каталог</span>
  </div>
  <div class="tab-icon" href="/cart" router="stability-active" title="Корзина">
    <span class="material-icons">shopping_cart</span>
    <span class="tab-label">Корзина</span>
  </div>
  <div class="tab-icon" href="/account" router="stability-active" title="Профиль">
    <span class="material-icons">account_circle</span>
    <span class="tab-label">Профиль</span>
  </div>
</div>


<footer>
</footer>
