@import '/public/css/parametrs/parameters.css';
@import '/src/scripts/components/card/view/catalog.css';
@import '/src/scripts/components/custom-messages/error/error.css';
@import '/src/scripts/components/modal/views/modal.css';
@import '/src/scripts/layouts/footer/footer.css';
@import '/src/scripts/layouts/header/header.css';
@import '/src/scripts/components/cart/view/cart.css';
@import '/src/scripts/components/order-placement/view/order-placement.css';
@import '/src/scripts/components/order-list/order-list.css';
@import '/src/scripts/components/single-order/single-order.css';
@import '/src/scripts/components/personal-account/views/personal-account.css';
@import '/src/scripts/components/product-page/views/product-page.css';
@import '/src/scripts/components/auth-menu/views/container.css';
@import '/src/scripts/components/auth-menu/views/error.css';
@import '/src/scripts/components/auth-menu/views/form.css';
@import '/src/scripts/components/auth-menu/views/toggle-password.css';
@import '/src/scripts/components/carousel/views/carousel.css';
@import '/src/scripts/components/searcher/searcher.css';
@import "/src/scripts/components/category/view/category.css";
@import '/src/scripts/components/custom-messages/soon/soon.css';


@font-face {
    font-family: 'UbuntuSans';
    src: url('/public/assets/fonts/UbuntuSans.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
    font-family: UbuntuSans, sans-serif;
    font-weight: 450;
}

body {
    height: 100%;
    font-family: var(--font-family), sans-serif;
    max-width: 1300px;
    max-height: 1080px;
    margin-left: auto;
    margin-right: auto;
}

html {
    height: 100%;
    width: 100%;
    justify-items: center;
}

.invisible {
    opacity: 0;
    transition: opacity var(--one-second-duration) ease-in-out; /* Переход на изменение opacity */
    visibility: hidden; /* Элемент скрыт */
}

.invisible.show {
    opacity: 1;
    visibility: visible; /* Показываем элемент */
}
