@use '../public/css/parametrs/parameters';
@use 'src/scripts/components/admin-panel/view/admin.scss';
@use '../src/scripts/components/card/view/catalog';
@use '../src/scripts/components/custom-messages/error/error';
@use '../src/scripts/components/modal/views/modal';
@use '../src/scripts/layouts/footer/footer';
@use '../src/scripts/layouts/header/header';
@use '../src/scripts/components/cart/view/cart';
@use '../src/scripts/components/order-placement/view/order-placement';
@use '../src/scripts/components/order-list/views/order-list';
@use '../src/scripts/components/single-order/view/single-order';
@use '../src/scripts/components/personal-account/views/personal-account';
@use '../src/scripts/components/product-page/views/product-page';
@use '../src/scripts/components/auth-menu/views/container';
@use '../src/scripts/components/auth-menu/views/error' as auth-err;
@use '../src/scripts/components/auth-menu/views/form';
@use '../src/scripts/components/auth-menu/views/toggle-password';
@use '../src/scripts/components/carousel/views/carousel';
@use '../src/scripts/components/searcher/searcher';
@use '../src/scripts/components/category/view/category';
@use '../src/scripts/components/custom-messages/soon/soon';
@use '../src/scripts/components/reviews/views/reviews';
@use '../src/scripts/components/reviews/views/add_review';

@use '../src/scripts/components/csat/view/csat';

@font-face {
    font-family: 'UbuntuSans';
    src: url('/public/assets/fonts/UbuntuSans.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
    font-family: UbuntuSans, sans-serif;
    font-weight: 450;
}

body {
    height: 100%;
    font-family: parameters.$font-family, sans-serif;
    max-width: 1300px;
    max-height: 1080px;
    margin-left: auto;
    margin-right: auto;
}

html {
    height: 100%;
    width: 100%;
    justify-items: center;
}

.invisible {
    opacity: 0;
    transition: opacity parameters.$one-second-duration ease-in-out; /* Переход на изменение opacity */
    visibility: hidden; /* Элемент скрыт */
}

.invisible.show {
    opacity: 1;
    visibility: visible; /* Показываем элемент */
}
