* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
}

.invisible {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Переход на изменение opacity */
    visibility: hidden; /* Элемент скрыт */
}

.invisible.show {
    opacity: 1;
    visibility: visible; /* Показываем элемент */
}
