<div class="cart-container">
    <h1 class="cart-container__title">Корзина</h1>
    <div id="data-sampling"></div>
    <div class="cart-container__content">
        <div class="cart-container__left">
            <div id="left-cards"></div>
        </div>
        <div class="cart-container__right">
            <div class="cart-container__right-absolute">
                <div id="right-element-of-cart"></div>
            </div>
        </div>
    </div>
</div>
