// Импортируем нужные файлы
@use '../elements/data-sampling/view/data-sampling';
@use '../elements/left-cards/view/left-cards';
@use '../elements/right-element-of-cart/view/right-element-of-cart';
@use '../../../../../public/css/parametrs/parameters';

// Основной контейнер корзины
.cart-container {
  max-width: parameters.$container-width;
  margin: parameters.$container-margin;
  padding: 1rem;

  // Заголовок корзины
  &__title {
    font-size: parameters.$strong-font-size;
    font-weight: parameters.$container-title-font-weight;
    margin-bottom: parameters.$conteiner-title-margin-bottom;
    color: parameters.$default-text-color;
  }

  // Контент корзины
  &__content {
    display: flex;
    justify-content: space-between;
    gap: parameters.$main-gap;
  }

  // Левая часть корзины (список товаров)
  &__left {
    width: parameters.$left-width;
    height: 100%;
  }

  // Правая часть корзины (элемент справа)
  &__right {
    width: parameters.$right-width;
  }

  // Элемент с фиксированным позиционированием
  &__right-absolute {
    position: fixed;
    width: calc(0.9*#{parameters.$right-width});
  }
}

// Медиазапрос для мобильных устройств
@media screen and (max-width: 900px) {
  .cart-container {
    width: auto !important;
    &__content {
      flex-direction: column;
    }
    &__left, &__right {
      width: parameters.$width-max;
    }
    &__right-absolute {
      position: relative;
      width: parameters.$width-max;
    }
  }
}