<div class="cart-container">
    <h1 class="cart-container__title">Корзина</h1>
    {{> data-sampling}}
    <div class="cart-container__content">
        <div class="cart-container__left">
            {{> left-cards}}
        </div>

        <div class="cart-container__right">
            <div class="cart-container__right-absolute">
                {{> right-element-of-cart}}
            </div>
        </div>
    </div>
</div>
