@use "../elements/product-item/view/product-item";
@use "../../../../../../../../../public/css/parametrs/parameters";

.delivery-card {
  background-color: parameters.$card-background-color;
  border-radius: parameters.$card-border-radius;
  box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
  padding: parameters.$card-padding;
  width: parameters.$width-max;
  margin-bottom: parameters.$main-gap;

  &__date-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__index-wrapper {
    display: flex;
    align-items: center;
    gap: parameters.$index-gap;
  }

  &__index {
    width: parameters.$order-index-width-plus; /* Увеличим размер для лучшего восприятия */
    height: parameters.$order-index-height-plus;
    border-radius: parameters.$ring-border-radius;
    background-color: parameters.$header-background; /* Серый фон */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: parameters.$min-font-size;
    color: parameters.$default-text-color;
  }

  &__date {
    font-size: parameters.$font-size_label;
  }

  &__weight {
    font-size: parameters.$font-size_label;
  }

  &__divider {
    border: none;
    border-top: 1px solid parameters.$divider-color;
    margin: parameters.$divider-margin;
  }

  &__items {
    margin-top: parameters.$main-gap;
  }
}