@use "../../../../../public/css/parametrs/parameters";

.form {
    &__error-feedback {
        color: parameters.$error-color;
        font-size: parameters.$error-font-size;
        margin-top: parameters.$middle-margin;
        display: block;
    }

    &__input_invalid {
        border-color: parameters.$error-color;
        background-color: parameters.$error-background-color;
    }

    &__error-feedback {
        color: parameters.$error-color;
        font-size: parameters.$error-font-size;
        margin-top: parameters.$middle-margin;
        display: block;
    }
}

.auth-container {
    &__error {
        padding: parameters.$small-padding;
        background-color: parameters.$global-error-background-color;
        color: parameters.$global-error-color;
        border: parameters.$one-border solid parameters.$global-error-border-color;
        border-radius: parameters.$button-border-radius4;
        margin-bottom: parameters.$big-margin-bottom;
        display: none;
    }

    &__error {
        padding: parameters.$small-padding;
        background-color: parameters.$global-error-background-color;
        color: parameters.$global-error-color;
        border: parameters.$one-border solid parameters.$global-error-border-color;
        border-radius: parameters.$button-border-radius4;
        margin-bottom: parameters.$big-margin-bottom;
        display: none;
    }
}