.form__error-feedback {
    color: var(--error-color);
    font-size: var(--error-font-size);
    margin-top: var(--middle-margin);
    display: block;
}

.auth-container__error {
    padding: var(--small-padding);
    background-color: var(--global-error-background-color);
    color: var(--global-error-color);
    border: var(--one-border) solid var(--global-error-border-color);
    border-radius: var(--button-border-radius4);
    margin-bottom: var(--big-margin-bottom);
    display: none;
}

.auth-container__error {
    padding: var(--small-padding);
    background-color: var(--global-error-background-color);
    color: var(--global-error-color);
    border: var(--one-border) solid var(--global-error-border-color);
    border-radius: var(--button-border-radius4);
    margin-bottom: var(--big-margin-bottom);
    display: none;
}

.form__input_invalid {
    border-color: var(--error-color);
    background-color: var(--error-background-color);
}

.form__error-feedback {
    color: var(--error-color);
    font-size: var(--error-font-size);
    margin-top: var(--middle-margin);
    display: block;
}
