@use "../../../../../public/css/parametrs/parameters";
@use "../types/mixins";

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: parameters.$form-gap;

    &__error-feedback {
        color: parameters.$error-color;
        font-size: parameters.$error-font-size;
        margin-top: parameters.$middle-margin;
        display: block;
    }

    &__input_invalid {
        border-color: parameters.$error-color;
        background-color: parameters.$error-background-color;
    }

    &__error-feedback {
        color: parameters.$error-color;
        font-size: parameters.$error-font-size;
        margin-top: parameters.$middle-margin;
        display: block;
    }

    &__label {
        font-size: parameters.$default-font-size;
        margin-bottom: parameters.$one-px-margin;
        padding-bottom: 3px;
    }

    &__input {
        background-color: parameters.$default-color-input;
        border-radius: parameters.$default-border-radius;
        margin-top: parameters.$one-px-margin;
        padding: parameters.$mini-padding;
        font-size: parameters.$default-font-size;
        border: 0;
        box-shadow: 0 1px 3px parameters.$card-shadow-color;
        transition: border-color parameters.$short-duration ease, box-shadow parameters.$short-duration ease;

        &:focus {
            outline: none;
        }
    }

    &__submit-button {
        @include mixins.button-styles(parameters.$base-background-color, parameters.$text-inv, parameters.$default-border-radius, parameters.$default-font-size, parameters.$mini-padding);

        font-weight: bold;
        margin-bottom: parameters.$midle-button-margin-bottom;

        &:hover {
            background-color: parameters.$darker-background-color;
            border: 2px solid parameters.$darker-background-color;
            transform: scale(parameters.$big-scale);
        }

        &:active {
            background-color: parameters.$darkest-background-color;
            border: 2px solid parameters.$darkest-background-color;
        }
    }
}

.auth-container {
    &__error {
        padding:15px;
        background-color: parameters.$global-error-background-color;
        color: parameters.$global-error-color;
        border: parameters.$one-border solid parameters.$global-error-border-color;
        border-radius: parameters.$button-border-radius4;
        margin-bottom: parameters.$big-margin-bottom;
        display: none;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px parameters.$default-color-input inset;
}


@media (max-width: 768px) {
    .auth-container {
        max-width: 95%;
        padding: 15px;

        &__title {
            font-size: 25px;
        }
    }

    .form {
        &__label {
            font-size: 20px;
        }

        &__input {
            padding: 10px;
            font-size: 14px;
        }

        &__submit-button {
            padding: 10px;
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .form {
        &__input {
            padding: 10px;
            font-size: 20px;
        }

        &__submit-button {
            padding: 10px;
            font-size: 20px;
        }
    }
}
