.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container__toggle-password {
    position: absolute;
    right: 12px;
    top: 55%;
    cursor: pointer;
    font-size: var(--default-font-size);
    color: var(--text-another-color);
    transition: color var(--short-duration) ease, transform var(--short-duration) ease;
}

.input-container__toggle-password:hover {
    color: var(--text-password-color);
}

input[type="password"] {
    padding-right: 40px; /* Добавляем отступ справа для иконки */
}

/* Добавляем стили для зачеркнутого глазика */
.input-container__toggle-password.eye-closed::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--base-background-color);
    transform: rotate(45deg) translateY(-50%);
    transition: transform var(--short-duration) ease;
}

.input-container__toggle-password.eye-open::after {
    display: none;
}
