@use "../../../../../public/css/parametrs/parameters";

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  &__toggle-password {
    position: absolute;
    right: 12px;
    top: 55%;
    cursor: pointer;
    font-size: parameters.$default-font-size;
    color: parameters.$text-another-color;
    transition: color parameters.$short-duration ease, transform parameters.$short-duration ease;

    &:hover {
      color: parameters.$text-password-color;
    }

    &.eye-closed::after {
      content: '';
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: parameters.$base-background-color;
      transform: rotate(45deg) translateY(-50%);
      transition: transform parameters.$short-duration ease;
    }

    &.eye-open::after {
      display: none;
    }
  }
}

input[type="password"] {
  padding-right: 40px; /* Добавляем отступ справа для иконки */
}
