@use "../../../../../public/css/parametrs/parameters";
@use "../../../../../public/css/parametrs/basic-mixins";

.product-page {
    &__color-button {
        width: 40px;
        height: 40px;
        border: 2px solid #ddd;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        padding: 0;

        &.selected {
            border-color: #7a16d5;
        }
    }

    &__color-circle {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &__size-button {
        padding: 10px 15px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: parameters.$default-border-radius;
        box-shadow: parameters.$card-box-shadow parameters.$hard-shadow-color;
        background-color: parameters.$card-background-color;
        border: 1px solid parameters.$card-border-color;

        &.selected {
            border-color: parameters.$description-color-product;
            background-color: parameters.$description-color-product;
            color: parameters.$card-background-color;
        }
    }

    &__text-option {
        padding: 10px 15px;
        margin-right: 10px;
        color: #333;
        border-radius: parameters.$default-border-radius;
        box-shadow: parameters.$card-box-shadow parameters.$hard-shadow-color;
        background-color: parameters.$card-background-color;
        border: 1px solid parameters.$card-border-color;

        &:hover {
            background-color: #f9f9f9;
        }

        &.selected {
            border-color: parameters.$description-color-product;
            background-color: #f0f0f0;
        }
    }

    &__carousel img:hover {
        border: parameters.$carousel-border solid parameters.$select-color;
    }

    &__arrow {
        margin-top: parameters.$middle-margin;
        margin-bottom: parameters.$middle-margin;
        border-radius: parameters.$default-border-radius;
        border: parameters.$one-border solid parameters.$carousel-border-color;
        font-size: parameters.$default-font-size;
        line-height: parameters.$arrow-line-height;
        display: block;
    }

    &__product-columns {
        display: flex;
        justify-content: space-between;
        gap: parameters.$gap20;
    }

    &__characteristics{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__product-info {
        flex: 1.25;
        margin-left: 30px;
        /*max-width: 300px;*/
        word-break: break-all;
        justify-content: flex-start;
    }

    &__product-name {
        font-family: 'UbuntuSans', sans-serif;
        font-size: 30px;
        font-weight: bolder;
        color: black;
        margin-bottom: parameters.$default-margin;
        word-break: break-word;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        /*font-size: parameters.$description-font-size;*/
        font-weight: bold;
        color: parameters.$description-color-product;
        margin-bottom: parameters.$default-margin;

        & svg {
            vertical-align: middle;
        }

        & span {
            display: inline-block;
            vertical-align: middle;
        }

        & .star {
            color: parameters.$rating-color;
        }

        & .video-icon {
            display: inline-flex;
            align-items: center;
        }

        & .material-icons {
            font-size: parameters.$font-size-rating;
            margin-right: parameters.$margin-right-material-icons;
            margin-left: parameters.$margin-left-material-icons;
            vertical-align: middle;
        }

        & .text-review {
            margin-left: 45px;
        }

        & span {
            display: inline;
        }
    }

    &__option-title {
        padding-bottom: 9px;
        font-size: 18px;
        font-weight: 440;
    }

    &__brand {
        display: flex;
        align-items: center;
        font-size: parameters.$font-size-brand-product;
        font-weight: 480;
        margin-bottom: parameters.$big-margin-bottom;
        margin-top: parameters.$big-margin-bottom;

        & img {
            width: 55px;
            height: 55px;
            margin-right: 7px;
            object-fit: contain;
            border-radius: calc(#{parameters.$default-border-radius} - 7px);
        }
    }

    &__condition {
        font-family: 'UbuntuSans', sans-serif;
        font-size: parameters.$font-size-description-product;
        color: parameters.$old-price-color;
        font-weight: bold;
        margin-bottom: parameters.$default-margin;
    }

    &__condition-buttons {
        display: flex;
        margin-top: parameters.$default-margin;
    }

    &__price-condition {
        font-family: 'UbuntuSans', sans-serif;
        font-size: parameters.$font-size-description-product;
        color: parameters.$old-price-color;
        font-weight: bold;
    }

    &__condition-text {
        font-family: 'UbuntuSans', sans-serif;
        font-size: parameters.$font-size-description-product;
        font-weight: bold;
    }

    &__condition-buttons {
        & button {
            border-radius: parameters.$default-border-radius;
            padding: parameters.$small-padding parameters.$large-padding;
            border: 1px solid parameters.$border-color-condition-product;
            background-color: parameters.$border-color-condition-product;
            cursor: pointer;
            margin-right: parameters.$default-margin;
        }

        & .selected {
            border-color: parameters.$description-color-product;
            border-width: 2px;
        }
    }

    &__colors {
        display: flex;
        margin: parameters.$big-margin 0;
    }

    &__color-button {
        margin-left: 5px;
        position: relative;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: white;
        border: 2px solid #ddd;
        cursor: pointer;
        box-sizing: border-box;

        &.selected {
            border-color: parameters.$carousel-border-color-active;
            border-width: 2px;
        }
    }

    &__color-circle {
        display: block;
        border-radius: parameters.$colors-product-border-radius;
        border: 2px solid #ddd;
        width: parameters.$proc-max-width-70;
        height: parameters.$proc-max-width-70;
        margin: auto;
        position: relative;
        top: parameters.$proc-top-sliders;
        transform: translateY(-70%);
    }

    &__description-product-page {
        margin-bottom: parameters.$big-margin-bottom;
        font-size: 18px;
        font-weight: 440;
        margin-top: 10px;
        margin-left: 20px;
    }

    &__description-item {
        margin-top: parameters.$space-description;
    }

    &__description-wrapper {
        display: flex;
        flex-direction: column;
        gap: parameters.$space-description;
    }

    &__description-key {
        font-family: 'UbuntuSans', sans-serif;
        font-size: parameters.$font-size-description-product;
        color: parameters.$text-color;
        font-weight: bold;
        margin-right: parameters.$middle-margin;
        word-break: break-word;
    }

    &__description-value {
        font-size: parameters.$font-size-description-product;
        font-weight: 390;
        color: black;
        word-break: break-word;
    }

    &__more-description-link {
        color: purple;
        cursor: pointer;
    }

    &__description {
        margin-top: 20px;
        word-break: normal;
        overflow-wrap: break-word;
        hyphens: auto;
        margin-left: 0.5px;

        &__header {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: parameters.$small-margin;
            color: parameters.$text-color;
        }
    }

    &__purchase-info {
        flex: 0.75;
        width: 300px;
        margin-left: parameters.$big-margin;
    }

    &__text-article {
        margin-right: parameters.$margin-text-article;
    }

    &__price-box {
        background-color: parameters.$card-background-color;
        border: 1px solid parameters.$card-border-color;
        border-radius: parameters.$default-border-radius;
        box-shadow: parameters.$card-box-shadow parameters.$hard-shadow-color;
        padding: parameters.$big-margin;
        margin-bottom: parameters.$big-margin;
        position: relative;
        width: 300px;
    }

    &__current-price-product-page {
        font-size: parameters.$big-font-size_another;
        font-family: 'UbuntuSans', sans-serif;
        font-weight: bold;
        color: red;
        margin-bottom: parameters.$default-margin;
        white-space: nowrap;
    }

    &__old-price {
        font-size: parameters.$font-size-description-product;
        font-family: 'UbuntuSans', sans-serif;
        color: parameters.$old-price-color;
        text-decoration: line-through;
        margin-bottom: parameters.$default-margin;
    }

    &__cart-container {
        display: flex;
        align-items: center;
    }

    &__cart-button {
        display: -webkit-box; /* Устанавливаем flexbox для текста */
        -webkit-box-orient: vertical; /* Направление контейнера */
        overflow: hidden; /* Скрываем лишний текст */
        text-overflow: ellipsis; /* Добавляем троеточие */
        -webkit-line-clamp: 3; /* Ограничиваем количество строк */

        padding: parameters.$button-padding;
        font-size: parameters.$font-size_label;
        font-family: 'UbuntuSans', sans-serif;
        font-weight: bold;
        background-color: parameters.$base-background-color;
        color: parameters.$text-inv;
        border: #7a16d5 2px solid;
        border-radius: parameters.$default-border-radius;
        flex-grow: 3;
        cursor: pointer;
        margin-right: parameters.$default-margin;
        white-space: nowrap;
        text-align: center;
        min-width: 90%;

        &:hover {
            background-color: parameters.$darker-background-color;
            transform: scale(parameters.$litle-scale);
        }

        &.pressed {
            border: 2px solid #7a16d5;
            background-color: white;
            color: #7a16d5;
        }
    }

    &__favorite-icon {
        font-size: parameters.$default-font-size;
        color: parameters.$base-background-color;
        cursor: pointer;
    }

    &__return-policy {
        font-size: parameters.$description-font-size;
        color: gray;
        text-align: center;
        margin-top: parameters.$default-margin;
    }

    &__increment-button {
        @include basic-mixins.button(40px);
        margin-right: 16px;

        &:active {
            background-color: #4b0e8c;
            transform: scale(1);
        }
    }
}

.product {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: parameters.$padding;
    max-width: 1360px;
    margin: parameters.$margin-zero auto;
}

@font-face {
    font-family: 'UbuntuSans';
    src: url('/public/assets/fonts/UbuntuSans.ttf');
}

.account {
    &__user-photo {
        width: 100%;
        height: 100%;
    }
}

#reviews {
    width: 2/3 * 100%;
}

.recommendations-page {
    width: 2/3 * 100%;
    margin-left: 20px;
}

@media screen and (max-width: 1150px) {
    .product {
        flex-direction: column;
        padding: 10px;
        margin: 0 auto;
        height: auto;
        display: block;
    }

    .product-page {
        &__product-info {
            margin-left: 0;
            margin-bottom: 20px;
            display: none;
        }

        &__product-name {
            font-size: 24px;
            text-align: center;
            margin-bottom: 15px;
        }

        &__rating {
            justify-content: center;
            font-size: 14px;
        }

        &__brand {
            justify-content: center;
            flex-direction: column;
            text-align: center;

            & img {
                margin-bottom: 10px;
                width: 45px;
                height: 45px;
            }
        }

        &__characteristics {
            margin: 15px 0;
        }

        &__description {
            &__header {
                font-size: 18px;
                margin-bottom: 10px;
            }

            margin-left: 0.5px;
            font-size: 14px;
            padding: 10px;
        }

        &__purchase-info {
            width: 100%;
            margin-left: 0;
            margin-bottom: 20px;

            &__price-box {
                padding: 10px;
            }

            &__current-price-product-page {
                font-size: 20px;
                text-align: center;
                margin-bottom: 10px;
            }

            &__old-price {
                font-size: 14px;
                text-align: center;
                margin-bottom: 15px;
            }

            &__cart-button {
                font-size: 14px;
                min-width: 100%;
            }
        }

        &__option-title {
            font-size: 16px;
        }

        &__color-button,
        &__size-button {
            margin-right: 5px;
            margin-bottom: 5px;
            width: 35px;
            height: 35px;
        }

        &__text-option {
            font-size: 12px;
            padding: 8px 10px;
        }

        &__favorite-icon {
            font-size: 20px;
        }

        &__slider {
            width: 100% !important;
        }

        &__price-box {
            width: 100% !important;
        }
    }

    .product-page__description-product-page {
        font-size: 14px;
        margin-top: 10px;
        margin-left: 20px;
        padding: 10px;
    }

    .product-page__carousel-slider-container {
        flex-direction: column-reverse;
    }

    #reviews {
        width: 100%;
    }

    .recommendations-page {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.recommendations__catalog {
    margin-right: 10px;
    margin-left: 10px;
}

.cards-view-title {
    transition: max-height 0.3s ease-in-out, white-space 0.5s ease-in-out;
    max-height: 1.5em;

    &:hover {
        white-space: normal;
        max-height: 10em;
    }
}

@media screen and (max-width: parameters.$smallest-phone) {
    .cards-view-title {
        transition: max-height 0.3s ease-in-out, white-space 0.5s ease-in-out;
        max-height: 10em;
        white-space: normal !important;

        &:hover {
            white-space: normal;
            max-height: 10em;
        }
    }
}
.modal-add-wish {
  display: none; /* Скрыть модалку по умолчанию */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;

  &__content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    border-radius: 20px;
  }

  &__header {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label{
      font-size: 20px;
      padding-left: 12px;
      margin-bottom: 5px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__submit-button,
  &__close-button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: parameters.$base-background-color;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 1rem;

  }

  &__close-button {
    background-color: #ccc;
    color: black;
    font-weight: 600;
  }

  &__submit-button:hover {
    background-color: #4b0e8c;
    font-weight: 600;
  }

  &__close-button:hover {
    background-color: #999;
  }

  &--active {
    display: block;
  }
}


.product-page__price-and-favorite {
  display: flex;  // Используем flexbox для размещения элементов в одну строку
  align-items: center;  // Центрируем элементы по вертикали
  gap: 10px;  // Расстояние между ценой и кнопкой
}

.product-page__current-price-product-page {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-page__favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;  // Центрируем SVG внутри кнопки
}

.product-page__favorite-button svg {
  width: 24px;
  height: 24px;
  stroke: #ff4040;
}


.modal-add-wish {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-add-wish--open {
  display: flex;
}

.modal-add-wish__checkbox {
  position: relative;
  width: 24px; /* Увеличенный размер чекбокса */
  height: 24px;
  appearance: none; /* Убираем стандартный чекбокс */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #6a5acd; /* Фиолетовая рамка */
  border-radius: 5px; /* Скругленные края */
  outline: none;
  cursor: pointer;
  background: #fff;
  transition: all 0.3s ease; /* Плавный переход */
}

.modal-add-wish__checkbox:checked {
  background: #6a5acd; /* Заполнение фиолетовым цветом */
  border-color: #6a5acd;
}

.modal-add-wish__checkbox:checked::after {
  content: '✔'; /* Галочка */
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 16px;
  color: #fff; /* Цвет галочки */
  transition: all 0.2s ease; /* Плавное появление */
}

/* Эффект при наведении */
.modal-add-wish__checkbox:hover {
  border-color: #9370db; /* Светлее фиолетовый */
  box-shadow: 0 0 10px rgba(106, 90, 205, 0.5); /* Тень вокруг */
}

/* Анимация при клике */
.modal-add-wish__checkbox:active {
  transform: scale(0.9); /* Небольшое сжатие */
}

.recommendations__catalog {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
}

.recommendations__catalog .product-page__rating {
    justify-content: center;
}

.recommendations__catalog .catalog__wrap {
    display: contents;
}
