@import "/public/css/parametrs/parameters.css";


.account__avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius:var(--default-border-radius) ;
    overflow: hidden;
}

.account__user-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--default-border-radius);
    transition: opacity 0.3s ease;
}

.account__avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.account__avatar-container:hover .account__avatar-overlay {
    opacity: 1;
}

.account__avatar-camera {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    fill: #ffffff;
}

.account__avatar-text {
    font-size: 1em;
    text-align: center;
}

.account__avatar-container:hover .account__user-photo {
    opacity: 0.7;
}

.account__user-photo {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.account__user-photo.avatar-hover::after {
    content: 'Изменить аватар';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.account {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    max-width: 1360px;
    margin: var(--margin-zero) auto;
}


.account__edit-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.account__column-personal-account {
    flex: 1;
    margin: 0 var(--default-margin);
}

.account__box-personal-account {
    background-color: var(--card-background-color);
    border: var(--one-border) solid var(--card-border-color);
    border-radius: var(--default-font-size);
    box-shadow: var(--card-box-shadow) var(--hard-shadow-color);
    padding: var(--large-padding);
    margin-bottom: var(--big-margin-bottom);
    position: relative;
}

.account__user-photo {
    width: 200px;
    flex: 3;
    border-radius: var(--default-border-radius);
}

.account__user-details {
    display: flex;
    justify-content: space-between;
    gap: var(--gap20);
    margin-left: var(--big-margin);
    vertical-align: top;
    font-family: 'UbuntuSans', sans-serif;
}

.account__notification {
    flex: 1;
    margin-right: -170px;
}

.account__user-name {
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    margin: 0;
    flex: 4;
}

.account__icons-personal-account {
    display: grid;
    color: var(--base-background-color);
    flex: 1;
}

.account__logout-button-personal-account {
    margin-top: var(--default-margin);
    padding: var(--button-padding);
    font-size: var(--font-size_label);
    font-family: 'UbuntuSans', sans-serif;
    font-weight: bold;
    background-color: var(--base-background-color);
    color: var(--text-inv);
    border: none;
    border-radius: var(--default-border-radius);
    flex-grow: 1;
    cursor: pointer;
    margin-left: var(--default-margin);
    white-space: nowrap;
    text-align: center;
}

.account__logout-button-personal-account:hover {
    background-color: var(--darker-background-color);
    transform: scale(var(--litle-scale));
}
.account__local_shipping {
    font-size: 70px;
}
.account__icon-personal-account {
    font-size: 30px;
}

.material-icons.account__notification{
    color: var(--base-background-color);
}

.account__delivery-info,
.account__address-info,
.account__favorites-info,
.account__purchases-info {
    display: flex;
    align-items: center;
    background-color: var(--card-background-color);
    border: var(--one-border) solid var(--card-border-color);
    border-radius: var(--default-border-radius);
    box-shadow: var(--card-box-shadow) var(--hard-shadow-color);
    padding: var(--large-padding);
    margin-bottom: var(--big-margin-bottom);
    height: 45%;
}

.account__delivery-title,
.account__address-title,
.account__favorites-title,
.account__purchases-title {
    margin: 0;
    font-size: var(--title-profile);
}

.account__delivery-status,
.account__address-description,
.account__favorites-count,
.account__purchases-status {
    margin: var(--middle-margin) 0 0;
}

.material-icons.account__local-shipping {
    font-size: var(--font-size-mat-icons-profile);
    color: var(--base-background-color);
    margin-right: var(--padding15);
}

.material-icons.account__pin-drop {
    font-size: var(--font-size-mat-icons-profile);
    color: var(--base-background-color);
    margin-right: var(--padding15);
}

.material-icons.account__favorite {
    font-size: var(--font-size-mat-icons-profile);
    color: var(--base-background-color);
    margin-right: var(--padding15);
}

.material-icons.account__shopping-basket {
    font-size: var(--font-size-mat-icons-profile);
    color: var(--base-background-color);
    margin-right: var(--padding15);
}

.material-icons.account__edit{
    color: var(--base-background-color);
}

.account__delivery-details,
.account__address-details,
.account__favorites-details,
.account__purchases-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap20);
}

.account__purchases-text,
.account__favorites-text {
    color: var(--base-background-color);
}