@import '/src/css/parametrs/parameters.css';

.container-personal-account {
  display: flex;
  justify-content: space-between;
  padding: var(--big-margin);
}

.column-personal-account {
  width: var(--proc-min-width);
  margin: 0 10px;
}

.box-personal-account {
  background-color: var(--card-background-color);
  border: var(--one-border) solid var(--card-border-color);
  border-radius: var(--default-font-size);
  box-shadow: var(--card-box-shadow) var(--hard-shadow-color);
  padding: var(--large-padding);
  margin-bottom: var(--big-margin-bottom);
  position: relative;
}

.user-photo {
  width: 200px;
  border-radius: var(--default-border-radius);
}

.user-details {
  display: flex;
  justify-content: space-between;
  gap: var(--gap20);
  margin-left: var(--big-margin);
  vertical-align: top;
  font-family: 'UbuntuSans', sans-serif;
}

.user-name {
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  margin: 0;
  flex: 2;
}

.icons-personal-account {
  display: grid;
  color: var(--base-background-color);
  flex: 1;
}

.logout-button-personal-account {
  margin-top: var(--default-margin);
  padding: var(--button-padding);
  font-size: var(--font-size_label);
  font-family: 'UbuntuSans', sans-serif;
  font-weight: bold;
  background-color: var(--base-background-color);
  color: var(--text-inv);
  border: none;
  border-radius: var(--default-border-radius);
  flex-grow: 1;
  cursor: pointer;
  margin-left: var(--default-margin);
  white-space: nowrap;
  text-align: center;
}

.logout-button-personal-account:hover {
  background-color: var(--darker-background-color);
  transform: scale(var(--litle-scale));
}
.local_shipping {
  font-size: 70px;
}
.icon-personal-account {
  font-size: 30px;
}

.edit-link {
  display: block;
  margin-top: var(--default-margin);
  color: var(--link-color);
  cursor: pointer;
}

.notification-icon.active {
  color: red;
}

.column-personal-account {
  flex: 1;
  margin: 0 var(--default-margin);
}

.delivery-info,
.address-info,
.favorites-info,
.purchases-info {
  display: flex;
  align-items: center;
  background-color: var(--card-background-color);
  border: var(--one-border) solid var(--card-border-color);
  border-radius: var(--default-border-radius);
  box-shadow: var(--card-box-shadow) var(--hard-shadow-color);
  padding: var(--large-padding);
  margin-bottom: var(--big-margin-bottom);
}

.delivery-title,
.address-title,
.favorites-title,
.purchases-title {
  margin: 0;
  font-size: var(--title-profile);
}

.delivery-status,
.address-description,
.favorites-count,
.purchases-status {
  margin: var(--middle-margin) 0 0;
}

.material-icons.local-shipping {
  font-size: var(--font-size-mat-icons-profile);
  color: var(--base-background-color);
  margin-right: var(--padding15);
}

.material-icons.pin-drop {
  font-size: var(--font-size-mat-icons-profile);
  color: var(--base-background-color);
  margin-right: var(--padding15);
}

.material-icons.favorite {
  font-size: var(--font-size-mat-icons-profile);
  color: var(--base-background-color);
  margin-right: var(--padding15);
}

.material-icons.shopping-basket {
  font-size: var(--font-size-mat-icons-profile);
  color: var(--base-background-color);
  margin-right: var(--padding15);
}

.edit-link {
  display: block;
  margin-top: var(--default-margin);
  color: var(--link-color);
  cursor: pointer;
}

.delivery-details,
.address-details,
.favorites-details,
.purchases-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap20);
}
