<div class="voting-frame" id="voting-frame">
    <div class="voting-frame__content" id="voting-frame__content">
        <h3 class="voting-frame__title"><span id="voting-frame__title__text"></span><span id="frame__title__close" class="voting-frame__title__close" data-action="close">&times;</span></h3>
        <div class=".voting-frame__content" id="content">
        </div>
        <div style="display: flex; gap: 6px;">
            <div id="back">
                <button class="voting-frame__vote-button" id="voting-frame__back" style="display: none">Закрыть</button>
            </div>
        </div>
    </div>
</div>