@use "../../../../../public/css/parametrs/parameters";

.product-page {
  &__gallery {
    align-content: center;
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  &__gallery ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.3s ease-in-out;
  }

  &__thumbnail {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: parameters.$default-border-radius;
    margin-bottom: 20px;
  }

  &__arrow-button {
    display: flex;
    justify-content: center;
    width: parameters.$width-max;
    height: 5%;

    &.next {
      position: absolute;
      bottom: 0;
    }
  }

  &__carousel img.active-thumbnail {
    border: parameters.$carousel-border solid parameters.$carousel-border-color-active;
  }

  &__slider {
    position: relative;
    width: 90%;
    height: 100%;
    overflow: visible;
  }

  &__slide {
    border-radius: parameters.$default-border-radius;
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    opacity: 0;
  }

  &__slider-button {
    position: absolute;
    top: parameters.$proc-top-sliders;
    transform: translateY(parameters.$y-coord-proc);
    border: none;
    border-radius: parameters.$default-border-radius;
    padding: parameters.$micro-padding;
    cursor: pointer;
    z-index: parameters.$button-slider-z-index;
  }

  &__slide:first-child {
    opacity: 1;
  }

  &__scroll-up,
  &__scroll-down {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: parameters.$micro-padding;
    cursor: pointer;
    margin: parameters.$micro-padding 0;
  }

  &__carousel-slider-container {
    flex: 1.25;
    display: flex;
    gap: parameters.$gap;
    height: 700px;
  }

  &__carousel {
    position: relative;
    width: 33%;
    height: 100%;
    padding: parameters.$small-padding;
    border: parameters.$one-border solid parameters.$carousel-border-color;
    border-radius: parameters.$default-border-radius;
    background: parameters.$background-color;
    overflow: hidden;
  }
}

#product-page {
  &__prev-button {
    left: parameters.$sliders-button-place;
  }

  &__next-button {
    right: parameters.$sliders-button-place;
  }
}
