@use "../../../../../../../public/css/parametrs/parameters";
@use "../../../../../../../public/css/parametrs/basic-mixins";

.cart-item {
   display: flex;
   background-color: parameters.$card-background-color;
   border-radius: parameters.$card-border-radius;
   box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
   margin-bottom: parameters.$card-margin-top;
   padding: parameters.$small-padding;
   position: relative;
   transition: transform parameters.$short-duration ease;

   &:hover {
     transform: translateY(parameters.$y-coord-min);
   }

   &__image {
     width: parameters.$card-image-width;
     padding: parameters.$micro-padding;
     min-width: parameters.$min-card-image-width;

     img {
       width: parameters.$width-max;
       height: auto;
       aspect-ratio: 1 / 1;
       border-radius: parameters.$card-border-radius;
       min-height: parameters.$min-card-image-width;
       background: parameters.$header-background center center / cover no-repeat;
     }
   }

   &__details {
     width: parameters.$details-width;
     padding: parameters.$small-padding;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }

   &__title {
     font-size: parameters.$card-title-font-size;
     margin-bottom: parameters.$card-title-margin-bottom;
   }

   &__price {
     font-size: parameters.$card-price-font-size;
     font-weight: parameters.$card-prise-font-weight;
     color: parameters.$text-color;
     margin-bottom: parameters.$card-price-margin-bottom;
   }

   &__current-price {
     margin-right: parameters.$mini-padding;
     white-space: nowrap;
   }

   &__old-price {
     text-decoration: line-through;
     margin-right: parameters.$mini-padding;
     white-space: nowrap;
   }

   &__discount {
     white-space: nowrap;
   }

   &__info {
     display: flex;
     justify-content: space-between;
     margin-top: auto;
     margin-bottom: parameters.$info-margin-bottom;
   }

   &__delivery-date,
   &__delivery-date-right {
     font-size: parameters.$font-size-date-right;
   }

   &__quantity-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   &__quantity {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: parameters.$base-background-color;
     border-radius: parameters.$card-border-radius;
     padding: 10px 20px;
     height: parameters.$quantity-height;
     width: parameters.$quantity-width; /* Ширина блока кнопок и количества */
     transition: background-color parameters.$short-duration ease;

     &:hover {
       background-color: parameters.$darker-background-color;
     }
   }

   &__quantity-btn {
     background-color: transparent;
     color: white;
     border: none;
     font-size: parameters.$card-price-font-size;
     cursor: pointer;
     padding: parameters.$micro-padding;
     transition: color parameters.$short-duration ease;

     &:hover {
       color: parameters.$text-hover-color;
     }

     &:active {
       color: parameters.$text-actife-color;
     }
   }

   &__quantity-count {
     font-size: parameters.$quanity-font-size;
     color: parameters.$text-inv;
   }

   &__btn-favorite {
     background: none;
     border-color: transparent;
   }

   &__wishlist-icon {
     color: parameters.$text-another-color;
     font-size: parameters.$card-icon-font-size;
     cursor: pointer;
   }

   &__remove-item {
     position: absolute;
     top: 10px;
     right: 10px;
     background-color: transparent;
     border: none;
     font-size: parameters.$card-remove-font-size;
     color: parameters.$text-another-color;
     cursor: pointer;
   }

   @include basic-mixins.checkbox;

   @include basic-mixins.placeholder;

   &__left {
     display: flex;
     align-items: center;
     justify-content: center;
   }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
