@charset "UTF-8";
.cart-item {
  display: flex;
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow) var(--card-shadow-color);
  margin-bottom: var(--card-margin-top);
  padding: var(--small-padding);
  position: relative;
  transition: transform var(--short-duration) ease;
}
.cart-item:hover {
  transform: translateY(var(--y-coord-min));
}
.cart-item__checkbox {
  margin-top: 8px;
}
.cart-item__image {
  width: var(--card-image-width);
  padding: var(--micro-padding);
  min-width: var(--min-card-image-width);
}
.cart-item__image img {
  width: var(--width-max);
  height: auto;
  border-radius: var(--card-border-radius);
  min-height: var(--min-card-image-width);
}
.cart-item__details {
  width: var(--details-width);
  padding: var(--small-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item__title {
  font-size: var(--card-title-font-size);
  margin-bottom: var(--card-title-margin-bottom);
}
.cart-item__price {
  font-size: var(--card-price-font-size);
  font-weight: var(--card-prise-font-weight);
  color: var(--text-color);
  margin-bottom: var(--card-price-margin-bottom);
}
.cart-item__current-price {
  margin-right: var(--mini-padding);
  white-space: nowrap;
}
.cart-item__old-price {
  text-decoration: line-through;
  margin-right: var(--mini-padding);
  white-space: nowrap;
}
.cart-item__discount {
  white-space: nowrap;
}
.cart-item__info {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: var(--info-margin-bottom);
}
.cart-item__delivery-date, .cart-item__delivery-date-right {
  font-size: var(--font-size-date-right);
  color: var(--info-margin-bottom);
}
.cart-item__quantity-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-background-color);
  border-radius: var(--card-border-radius);
  padding: 10px 20px;
  height: var(--quantity-height);
  width: var(--quantity-width); /* Ширина блока кнопок и количества */
  transition: background-color var(--short-duration) ease;
}
.cart-item__quantity:hover {
  background-color: var(--darker-background-color);
}
.cart-item__quantity-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: var(--card-price-font-size);
  cursor: pointer;
  padding: var(--micro-padding);
  transition: color var(--short-duration) ease;
}
.cart-item__quantity-btn:hover {
  color: var(--text-hover-color);
}
.cart-item__quantity-btn:active {
  color: var(--text-actife-color);
}
.cart-item__quantity-count {
  font-size: var(--quanity-font-size);
  color: var(--text-inv);
}
.cart-item__btn-favorite {
  background: none;
  border-color: transparent;
}
.cart-item__wishlist-icon {
  color: var(--text-another-color);
  font-size: var(--card-icon-font-size);
  cursor: pointer;
}
.cart-item__remove-item {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: var(--card-remove-font-size);
  color: var(--text-another-color);
  cursor: pointer;
}
.cart-item__checkbox {
  width: auto;
  display: flex;
  justify-content: center;
  margin-right: 10px; /* Отступ между чекбоксом и текстом */
}
.cart-item__select-item {
  appearance: none;
  width: var(--checkbox-width); /* Размер чекбокса равен размеру крестика */
  height: var(--checkbox-height); /* Размер чекбокса равен размеру крестика */
  background-color: var(--card-background-color);
  border: 2px solid var(--main-border-color);
  border-radius: 3px; /* Чуть меньший радиус, чтобы соответствовать уменьшенному размеру */
  cursor: pointer;
  position: relative;
}
.cart-item__select-item:checked {
  color: var(--checkbox-text-color);
}
.cart-item__select-item:checked::after {
  content: "✔";
  position: absolute;
  font-size: var(--min-font-size); /* Уменьшенный размер галочки */
  left: 1px;
  top: -2px; /* Корректируем позиционирование галочки */
}

/*# sourceMappingURL=left-cards.css.map */
