@import "/src/css/parametrs/parameters.css";

form {
    display: flex;
    flex-direction: column;
    gap: var(--form-gap);
}

label {
    font-size: var(--default-font-size);
    margin-bottom: var(--one-px-margin);
    padding-bottom: var(--one-padding);
}

input {
    margin-top: var(--one-px-margin);
    padding: var(--mini-padding);
    font-size: var(--default-font-size);
    border-radius: var(--input-border-radius);
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px var(--card-shadow-color); /* Добавляем мягкую тень для объема */
    transition: border-color var(--short-duration) ease, box-shadow var(--short-duration) ease; /* Плавный переход для инпутов */
}

input:focus {
    outline: none;
}

button[type="submit"] {
    padding: var(--mini-padding);
    font-size: var(--default-font-size);
    font-weight: bold;
    background-color: var(--base-background-color);
    color: white;
    border-width: 0;
    border-radius: var(--auth-button-border-radius);
    cursor: pointer;
    margin-bottom: var(--middle-button-margin-bottom); /* Добавляем отступ снизу */
    transition: background-color var(--middle-duration) ease, color var(--middle-duration) ease; /* Плавный переход для кнопки */
}

button[type="submit"]:hover {
    background-color: var(--darker-background-color); /* Более темный фон при наведении */
    color: var(--text-inv);
    border: 2px solid var(--darker-background-color);
    transform: scale(var(--big-scale));
}

button[type="submit"]:active {
    background-color: var(--darkest-background-color); /* Самый темный фон при нажатии */
    color: var(--text-inv);
    border: 2px solid var(--darkest-background-color);
}

input.invalid__input, textarea.invalid__input {
    border-color: var(--error-color);
    background-color: var(--error-background-color);
}

.errors__feedback {
    color: var(--error-color);
    font-size: var(--error-font-size);
    margin-top: var(--middle-margin);
    display: block;
}

.title {
    text-align: center;
    font-weight: var(--middle-font-weight);
    font-size: var(--big-font-size);
    margin-bottom: var(--xl-margin-bottom);
}

.auth_menu_container {
    font-family: var(--mega-font-family), sans-serif;
    font-weight: var(--little-font-weight);
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: var(--proc-min-width);
    width: var(--min-width);
    position: relative;
    background-color: var(--container-background-color);
    max-width: var(--proc-max-width);
    margin: 3% auto 10%;
    color: var(--default-text-color);
    border-radius: var(--container-border-radius);
    padding: var(--container-padding);
    transition: box-shadow var(--short-duration) ease, transform var(--short-duration) ease;
}

.auth_menu_container:hover {
    transform: scale(var(--litle-scale)); /* Легкое увеличение формы при наведении */
}

.menu__link {
    font-size: 20px;
    padding-top: var(--middle-padding-top);
    text-align: center;
}

.menu__link a {
    display: block;
    color: var(--text-another-color);
    text-decoration: none;
    transition: color var(--short-duration) ease; /* Плавный переход для ссылки */
}

.menu__link a:hover {
    color: var(--link-color);
}

.auth_menu_container, .title, label {
    transition: all var(--short-duration) ease;
}

.global_errors {
    padding: var(--small-padding);
    background-color: var(--global-error-background-color);
    color: var(--global-error-color);
    border: var(--one-border) solid var(--global-error-border-color);
    border-radius: var(--button-border-radius4);
    margin-bottom: var(--big-margin-bottom);
    display: none;
}

.input_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    cursor: pointer;
    font-size: var(--default-font-size);
    color: var(--text-another-color);
    transition: color var(--short-duration) ease, transform var(--short-duration) ease;
}

.toggle-password:hover {
    color: var(--text-password-color);
}

input[type="password"] {
    padding-right: 40px; /* Добавляем отступ справа для иконки */
}

/* Добавляем стили для зачеркнутого глазика */
.toggle-password.eye-closed::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    width: var(--width-max);
    height: 2px;
    background-color: var(--base-background-color);
    transform: rotate(45deg) translateY(-50%); /* Поворачиваем черту на глазике */
    transition: transform var(--short-duration) ease; /* Плавная анимация появления */
}

.toggle-password.eye-open::after {
    display: none;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .auth_menu_container {
        max-width: var(--proc-max-width-full);
        padding: var(--padding15);
    }

    .title {
        font-size: var(--font-size20);
    }

    label {
        font-size: var(--font-size_label);
    }
}
