@import '/src/css/parametrs/parametrs.css';
@import '/src/css/parametrs/animations.css';

.center-container {
    text-align: center;
    margin-top: 20%;
}

h1, p {
    color: var(--background-color-site);
}

.bounce-text {
    animation: bounce var(--long-time) ease-in;
    will-change: transform;
}
