@import '/src/css/parametrs/parameters.css';
@import '/src/css/parametrs/animations.css';

.center-container {
    text-align: center;
    margin-top: 20%;
}

.soon-bounce-text h1 p {
    color: var(--base-background-color);
}

.soon-bounce-text {
    animation: bounce var(--two-seconds-duration) ease-in;
    will-change: transform;
}
