<link rel="stylesheet" href="/src/scripts/components/custom-messages/soon/soon.css">

<div class="center-container">
    <h1 class="bounce-text">Скоро</h1>
    <p class="bounce-text">Будет добавлено позже.</p>
    <p class="bounce-text url" href="{{return}}" router="changed-active">Нажмите, сюда, чтобы вернуться на главную!</p>
</div>
