<div class="center-container">
    <h1 class="soon-bounce-text">Скоро</h1>
    <p class="soon-bounce-text">Будет добавлено позже.</p>
    <p class="soon-bounce-text" href="{{return}}" router="changed-active">Нажмите, сюда, чтобы вернуться на главную!</p>
</div>
