@import '/public/css/parametrs/parameters.css';
@import '/public/css/parametrs/animations.css';

.center-container {
    text-align: center;
    margin-top: 20%;
}

.soon-bounce-link,
.soon-bounce-title {
    color: var(--base-background-color);
}

.soon-bounce-link {
    cursor: pointer;
}

.soon-bounce-link,
.soon-bounce-title,
.soon-bounce-text {
    animation: bounce var(--two-seconds-duration) ease-in;
}
