<div class="center-container">
    <h1 class="soon-bounce-title">Скоро</h1>
    <p class="soon-bounce-text">Будет добавлено позже.</p>
    <p id="return-msg" class="soon-bounce-link">Нажмите, сюда, чтобы вернуться назад</p>
</div>