@import '/src/css/parametrs/parametrs.css';

.search-input {
    width: 100%;
    padding: var(--litle-padding);
    font-size: var(--input-font-size);
    border: var(--one-border) solid var(--input-border-color);
    border-radius: 5px 0 0 5px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--litle-padding);
    background-color: var(--background-color-site);
    border: none;
    color: var(--text-buy-color);
    font-size: var(--font-size);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-container {
    flex: 0 0 50%;
    display: flex;
    position: relative;
}
