<link rel="stylesheet" href="/src/scripts/components/elements/searcher/searcher.css">

<div class="search-container">
    <input type="search" placeholder="Поиск по oxic" class="search-input">
    <button class="search-button"><span class="material-icons">search</span></button>
</div>
