@use '../../../../../public/css/parametrs/parameters';

#searcher {
    flex-grow: 1;
    max-width: 100%;
}

.search-container {
    flex: 0 0 50%;
    display: flex;
    position: relative;

    &__search-input {
        width: 100%;
        padding: 11px;
        font-size: parameters.$input-font-size;
        border: parameters.$one-border solid parameters.$input-border-color;
        border-radius: 5px 0 0 5px;

        &:focus {
            outline: none;
        }
    }

    &__search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: oklch(0.49 0.25 299.6);
        border: none;
        color: parameters.$text-buy-color;
        font-size: parameters.$font-size;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 2px;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: calc(7 * 40px + 15px);
    overflow-y: auto;

    &--active {
        display: block;
    }

    &__item {
        padding: 15px;
        cursor: pointer;

        &--link {
            text-decoration: none;
            color: inherit;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }
}
