<div class="search-container">
  <input id="search-input" type="search" placeholder="Поиск по oxic" class="search-container__search-input">
  <ul id="suggestions" class="suggestions">
  </ul>
  <button id="search-button" class="search-container__search-button">
    <span class="material-icons">
      search
    </span>
  </button>
</div>