@import '/src/css/parametrs/parameters.css';

.product-container {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  max-width: var(--max-width-px-long-product);
  margin: var(--margin-zero) auto;
}

.carousel-slider-container {
  display: flex;
  gap: var(--gap);
  width: var(--proc-carousel-slider-container-width);
}

.carousel {
  position: relative;
  width: var(--proc-slider-width);
  height: var(--carousel-height);
  padding: var(--small-padding);
  border: var(--one-border) solid var(--carousel-border-color);
  border-radius: var(--default-border-radius);
  background: var(--background-color);
  overflow: hidden;
}

.carousel img {
  width: var(--proc-full-width);
  height: var(--carousel-img-height);
  display: block;
  border-radius: var(--default-border-radius);
}

.carousel img:hover {
  border: var(--carousel-border) solid var(--base-background-color);
}

.arrow {
  margin-top: var(--middle-margin);
  margin-bottom: var(--middle-margin);
  border-radius: var(--default-border-radius);
  border: var(--one-border) solid var(--carousel-border-color);
  font-size: var(--default-font-size);
  line-height: var(--arrow-line-height);
  display: block;
}

.gallery {
  align-content: center;
  width: var(--width-max);
  height: var(--proc-max-width-full);
  overflow: hidden;
}

.gallery li {
  display: block;
  margin-bottom: var(--default-margin);
}

.carousel img.active-thumbnail {
  border: var(--carousel-border) solid var(--carousel-border-color-active);
}

.slider {
  position: relative;
  width: var(--width-max);
  height: var(--slider-height);
  overflow: visible;
}

.slide {
  position: absolute;
  width: var(--width-max);
  height: var(--width-max);
  opacity: 0;
}

.slider-button {
  position: absolute;
  top: var(--proc-top-sliders);
  transform: translateY(var(--y-coord-proc));
  border: none;
  border-radius: var(--default-border-radius);
  padding: var(--micro-padding);
  cursor: pointer;
  z-index: var(--button-slider-z-index);
}

#prev-button {
  left: var(--sliders-button-place);
}

#next-button {
  right: var(--sliders-button-place);
}

.slide:first-child {
  opacity: 1;
}

.product-info {
  flex-grow: 2;
  margin-left: var(--big-margin-bottom);
}

.product-name {
  font-family: 'UbuntuSans', sans-serif;
  font-size: var(--default-font-size);
  font-weight: bold;
  color: black;
  margin-bottom: var(--default-margin);
}

.rating {
  display: flex;
  align-items: center;
  font-size: var(--description-font-size);
  font-weight: bold;
  color: var(--description-color-product);
  margin-bottom: var(--default-margin);
}

.rating .star {
  color: var(--rating-color);
}

.rating .video-icon {
  display: inline-flex;
  align-items: center;
}

.rating .material-icons {
  font-size: var(--font-size-rating);
  margin-right: var(--margin-right-material-icons);
  margin-left: var(--margin-left-material-icons);
  vertical-align: middle;
}

.rating .text-review {
  margin-left: var(--margin-left-material-icons);
}

.rating span {
  display: inline;
}

.brand {
  display: flex;
  align-items: center;
  font-size: var(--font-size-brand-product);
  font-weight: normal;
  margin-bottom: var(--big-margin-bottom);
  margin-top: var(--big-margin-bottom);
}

.brand img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

@font-face {
  font-family: 'UbuntuSans';
  src: url('/src/assets/img/static/UbuntuSans.ttf');
}

.condition {
  font-family: 'UbuntuSans', sans-serif;
  font-size: var(--font-size-description-product);
  color: var(--old-price-color);
  font-weight: bold;
  margin-bottom: var(--default-margin);
}

.condition-buttons {
  display: flex;
  margin-top: var(--default-margin);
}

.price-condition {
  font-family: 'UbuntuSans', sans-serif;
  font-size: var(--font-size-description-product);
  color: var(--old-price-color);
  font-weight: bold;
}

.condition-text {
  font-family: 'UbuntuSans', sans-serif;
  font-size: var(--font-size-description-product);
  font-weight: bold;
}

.condition-buttons button {
  border-radius: var(--default-border-radius);
  padding: var(--small-padding) var(--large-padding);
  border: 1px solid var(--border-color-condition-product);
  background-color: var(--border-color-condition-product);
  cursor: pointer;
  margin-right: var(--default-margin);
}

.condition-buttons .selected {
  border-color: var(--description-color-product);
  border-width: 2px;
}

.colors {
  display: flex;
  margin: var(--big-margin) 0;
}

.color-button {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 2px solid #ddd;
  cursor: pointer;
  box-sizing: border-box;
}

.color-circle {
  display: block;
  border-radius: var(--colors-product-border-radius);
  border: 2px solid #ddd;
  width: var(--proc-max-width-70);
  height: var(--proc-max-width-70);
  margin: auto;
  position: relative;
  top: var(--proc-top-sliders);
  transform: translateY(-70%);
}

.color-button.selected {
  border-color: var(--carousel-border-color-active);
  border-width: 2px;
}

.description-product-page {
  margin-bottom: var(--big-margin-bottom);
}

.description-item {
  margin-top: var(--space-description);
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-description);
}

.description-key {
  font-family: 'UbuntuSans', sans-serif;
  font-size: var(--font-size-description-product);
  color: var(--text-color);
  font-weight: bold;
  margin-right: var(--middle-margin);
}

.description-value {
  font-family: 'UbuntuSans', sans-serif;
  font-size: var(--font-size-description-product);
  color: black;
}

.more-description-link {
  color: purple;
  cursor: pointer;
}

.purchase-info {
  width: var(--proc-slider-width);
  margin-left: var(--big-margin);
}

.text-article {
  margin-right: var(--margin-text-article);
}

.price-box {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: var(--default-border-radius);
  box-shadow: var(--card-box-shadow) var(--hard-shadow-color);
  padding: var(--big-margin);
  margin-bottom: var(--big-margin);
  position: relative;
}

.current-price-product-page {
  font-size: var(--big-font-size_another);
  font-family: 'UbuntuSans', sans-serif;
  font-weight: bold;
  color: red;
  margin-bottom: var(--default-margin);
}

.old-price {
  font-size: var(--font-size-description-product);
  font-family: 'UbuntuSans', sans-serif;
  color: var(--old-price-color);
  text-decoration: line-through;
  margin-bottom: var(--default-margin);
}

.cart-container {
  display: flex;
  align-items: center;
}

.cart-button {
  padding: var(--button-padding);
  font-size: var(--font-size_label);
  font-family: 'UbuntuSans', sans-serif;
  font-weight: bold;
  background-color: var(--base-background-color);
  color: var(--text-inv);
  border: none;
  border-radius: var(--default-border-radius);
  flex-grow: 1;
  cursor: pointer;
  margin-right: var(--default-margin);
  white-space: nowrap;
  text-align: center;
}

.cart-button:hover {
  background-color: var(--darker-background-color);
  transform: scale(var(--litle-scale));
}

.favorite-icon {
  font-size: var(--default-font-size);
  color: var(--base-background-color);
  cursor: pointer;
}

.return-policy {
  font-size: var(--description-font-size);
  color: gray;
  text-align: center;
  margin-top: var(--default-margin);
}

.scroll-up,
.scroll-down {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: var(--micro-padding);
  cursor: pointer;
  margin: var(--micro-padding) 0;
}

.product-page__arrow-button {
  display: flex;
  justify-content: center;
  width: var(--width-max);
}
