<div class="order-placement">
    <h1 class="order-placement__title">Оформление</h1>
    <div class="order-placement__content">
        <div class="order-placement__left">
            {{> left-element-of-order-placement}}
        </div>

        <div class="order-placement__right">
            <div class="order-placement__right-absolute">
                {{> right-element-of-order-placement}}
            </div>
        </div>
    </div>
</div>
