<div class="category-catalog">
  {{#each categories}}
    <div class="category-card"  href="/category/{{name}}" router="changed-active">
      <div class="category-card-image">
        <img src="{{image}}" alt="{{name}}" loading="lazy" onerror="this.onerror=null;this.src='https://via.placeholder.com/150';">
      </div>
      <h2 class="category-card-title">{{name}}</h2>
    </div>
  {{/each}}
</div>
