// Импортируем нужные файлы
@use './elements/right-element-of-order-placement/right-element-of-order-placement';
@use './elements/left-element-of-order-placement/left-element-of-order-placement';
@use '../../../../../public/css/parametrs/parameters';

.order-placement {
  & {
    width: parameters.$container-width;
    margin: parameters.$container-margin;
  }

  &__title {
    font-size: parameters.$strong-font-size;
    font-weight: parameters.$container-title-font-weight;
    margin-bottom: parameters.$conteiner-title-margin-bottom;
    color: parameters.$default-text-color;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: parameters.$main-gap;
  }

  &__left {
    width: parameters.$left-width;
  }

  &__right {
    width: parameters.$right-width;
  }

  &__right-absolute {
    position: fixed;
    width: calc(0.9*#{parameters.$right-width});
  }

  @media screen and (max-width: 858px) {
    &__content {
      flex-direction: column;
    }
    &__left, &__right {
      width: parameters.$width-max;
    }
    &__right-absolute {
      position: relative;
      width: parameters.$width-max;
    }
  }
}
