@use "../../../../../../../public/css/parametrs/parameters";

// Блок для карточки (корневая обертка)
.right-card {
  background-color: parameters.$card-background-color;
  border-radius: parameters.$card-border-radius;
  box-shadow: parameters.$card-box-shadow parameters.$card-shadow-color;
  padding: parameters.$card-padding;
  width: parameters.$width-max;
  margin-top: parameters.$card-margin-top;

  &__total-items {
    font-size: parameters.$total-items-font-size;
    color: parameters.$default-text-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: parameters.$total-item-margin-bottom;
  }

  &__divider {
    border: none;
    border-top: 1px solid parameters.$divider-color;
    margin: parameters.$divider-margin;
  }

  &__benefit {
    font-size: parameters.$benefit-font-size;
    color: parameters.$default-text-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: parameters.$benefit-margin-bottom;
  }

  &__grand-total {
    font-size: parameters.$grand-total-items-font-size;
    font-weight: parameters.$grand-total-font-weight;
    display: flex;
    justify-content: space-between;
    color: parameters.$default-text-color;
  }
}

// Блок для кнопки
.cart-checkout-btn {
  background-color: parameters.$base-background-color;
  color: white;
  border: none;
  font-size: parameters.$button-font-size;
  cursor: pointer;
  border-radius: parameters.$card-border-radius;
  padding: parameters.$chrckout-padding;
  width: parameters.$width-max;
  transition: background-color parameters.$short-duration ease, color parameters.$short-duration;

  &:hover {
    background-color: parameters.$darker-background-color; // Более темный фон при наведении
    color: parameters.$text-inv;
  }

  &:active {
    background-color: parameters.$darkest-background-color; // Самый темный фон при нажатии
    color: parameters.$text-inv;
  }

  &.disabled {
    background-color: parameters.$disabled-background-color; // Серый фон для заблокированной кнопки
    color: parameters.$disabled-color;            // Серый цвет текста
    cursor: not-allowed;    // Иконка неактивности

    &:hover {
      background-color: parameters.$disabled-background-color; // Оставляем тот же цвет при наведении
      color: parameters.$disabled-color;
    }
  }
}