<div class="center-container">
    <h1 class="error-fade-in-text">Ошибка {{name}}</h1>
    <p class="error-fade-in-text">{{description}}</p>
    <p class="error-fade-in-text" href="{{return}}" router="changed-active">Нажмите, сюда, чтобы вернуться на главную!</p>
</div>