@use '../../../../../public/css/parametrs/parameters';
@use '../../../../../public/css/parametrs/animations';

.center-container {
    text-align: center;
    margin-top: 20%;

    &__error-fade-in-text h1 p{
        color: parameters.$text-another-color;
    }

    &__error-fade-in-text {
        opacity: 0;
        animation: fadeIn parameters.$one-second-duration ease-in forwards;
    }
}