<link rel="stylesheet" href="/src/scripts/components/custom-messages/error/error.css">

<div class="center-container">
    <h1 class="fade-in-text">Ошибка {{name}}</h1>
    <p class="fade-in-text">{{description}}</p>
    <p class="fade-in-text" href="{{return}}" router="changed-active">Нажмите, сюда, чтобы вернуться на главную!</p>
</div>
