<div class="center-container">
    <h1 class="center-container__error-fade-in-text">Ошибка {{name}}</h1>
    <p class="center-container__error-fade-in-text"><p class="center-container__error-fade-in-text__p">{{description}}</p></p>
    <p class="center-container__error-fade-in-text" href="{{return}}" router="changed-active">Нажмите, сюда, чтобы вернуться на главную!</p>
</div>