@import '/src/css/parametrs/parametrs.css';
@import '/src/css/parametrs/animations.css';

.center-container {
    text-align: center;
    margin-top: 20%;
}

.h1, .p {
    color: var(--text-another-color);
}

.fade-in-text {
    opacity: 0;
    animation: fadeIn var(--one-time) ease-in forwards;
}
